.header .head_top {
    width: 100%;
    height: 50px;
    background-color: #FFECEC;
}
.header .head_top a {
    float: left;
    text-align: center;
    padding: 16px 30px 14px 30px;
    position: relative;
}
.header .head_top .home::after {
    position: absolute;
    left: 5px;
    top: 12px;
    width: 22px;
    height: 22px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21H3C2.44772 21 2 20.5523 2 20V12.4868C2 12.1978 2.12501 11.9229 2.34282 11.733L6 8.54435V4C6 3.44772 6.44772 3 7 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21ZM9 19H12V12.9416L8 9.45402L4 12.9416V19H7V15H9V19ZM14 19H20V5H8V7.12729C8.23444 7.12729 8.46888 7.20938 8.65718 7.37355L13.6572 11.733C13.875 11.9229 14 12.1978 14 12.4868V19ZM16 11H18V13H16V11ZM16 15H18V17H16V15ZM16 7H18V9H16V7ZM12 7H14V9H12V7Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.header .head_top .speed::after {
    position: absolute;
    left: 4px;
    top: 10px;
    width: 22px;
    height: 22px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 13.5V21C22 21.5523 21.5523 22 21 22H20C19.4477 22 19 21.5523 19 21V20H5V21C5 21.5523 4.55228 22 4 22H3C2.44772 22 2 21.5523 2 21V13.5L0.757464 13.1894C0.312297 13.0781 0 12.6781 0 12.2192V11.5C0 11.2239 0.223858 11 0.5 11H2.375L4.51334 5.29775C4.80607 4.51715 5.55231 4 6.386 4H17.614C18.4477 4 19.1939 4.51715 19.4867 5.29775L21.625 11H23.5C23.7761 11 24 11.2239 24 11.5V12.2192C24 12.6781 23.6877 13.0781 23.2425 13.1894L22 13.5ZM4 15V17C4 17.5523 4.44772 18 5 18H8.24496C8.3272 18 8.40818 17.9797 8.4807 17.9409C8.72418 17.8107 8.81602 17.5078 8.68582 17.2643C7.87862 15.7548 6.31672 15 4 15ZM20 15C17.6833 15 16.1213 15.7548 15.3141 17.2643C15.1839 17.5078 15.2758 17.8107 15.5193 17.9409C15.5918 17.9797 15.6728 18 15.755 18H19C19.5523 18 20 17.5523 20 17V15ZM6 6L4.43874 10.6838C4.40475 10.7857 4.38743 10.8925 4.38743 11C4.38743 11.5523 4.83514 12 5.38743 12H18.6126C18.7201 12 18.8268 11.9827 18.9288 11.9487C19.4527 11.774 19.7359 11.2077 19.5613 10.6838L18 6H6Z' fill='%231D1D1D'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.header .head_top .bay::after {
    position: absolute;
    left: 7px;
    top: 13px;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_25_95)'%3E%3Cpath d='M4.07007 2.58001C5.62007 1.33001 7.52007 0.61001 9.51007 0.51001L9.54007 3.52001C8.25007 3.61001 7.06007 4.07001 6.07007 4.83001L4.07007 2.59001V2.58001Z' fill='%231D1D1D'/%3E%3Cpath d='M9.02011 1.05L9.04011 3.06C8.00011 3.2 7.01011 3.58 6.15011 4.15L4.81011 2.65C6.06011 1.77 7.50011 1.22 9.02011 1.05ZM10.0101 0H10.0001C7.45011 0 5.12011 0.96 3.36011 2.53L6.02011 5.52C7.07011 4.57 8.47011 4 10.0001 4H10.0501L10.0101 0Z' fill='%231D1D1D'/%3E%3Cpath d='M11.02 1.06C12.71 1.25 14.29 1.91 15.62 2.97L14.2 4.39C13.27 3.69 12.2 3.24 11.05 3.07L11.03 1.05M10.01 0L10.05 4C11.69 4.01 13.17 4.68 14.24 5.76L17.07 2.93C15.26 1.12 12.77 0 10.01 0Z' fill='%231D1D1D'/%3E%3Cpath d='M16.4799 9.49989C16.3799 8.10989 15.8399 6.81989 14.9299 5.76989L17.0599 3.63989C18.5299 5.25989 19.3699 7.30989 19.4899 9.48989H16.4799V9.49989Z' fill='%231D1D1D'/%3E%3Cpath d='M17.03 4.37993C18.1 5.70993 18.76 7.29993 18.94 8.99993H16.92C16.76 7.82993 16.3 6.73993 15.6 5.80993L17.02 4.38993M17.07 2.92993L14.24 5.75993C15.33 6.83993 16 8.33993 16 9.99993H20C20 7.23993 18.88 4.73993 17.07 2.92993Z' fill='%231D1D1D'/%3E%3Cpath d='M18.94 11C18.73 12.86 17.94 14.62 16.68 16.02L15.34 14.51C16.19 13.51 16.73 12.3 16.92 11H18.94ZM20 10H16C16 11.78 15.22 13.39 13.98 14.48L16.64 17.47C18.7 15.64 20 12.97 20 10Z' fill='%231D1D1D'/%3E%3Cpath d='M10.6699 16.4599C11.8599 16.3399 12.9899 15.8999 13.9299 15.1699L15.9299 17.4199C14.4299 18.6199 12.6099 19.3399 10.6999 19.4799L10.6699 16.4599Z' fill='%231D1D1D'/%3E%3Cpath d='M13.8499 15.84L15.1899 17.34C13.9999 18.18 12.6299 18.72 11.1899 18.92L11.1699 16.9C12.1299 16.74 13.0399 16.38 13.8499 15.84ZM13.9799 14.48C12.9599 15.4 11.6299 15.96 10.1599 15.99L10.1999 20C12.6699 19.95 14.9199 19 16.6399 17.47L13.9799 14.48Z' fill='%231D1D1D'/%3E%3Cpath d='M5.79992 15.6C6.78992 16.35 7.93992 16.81 9.16992 16.96L9.18992 18.97C7.41992 18.81 5.74992 18.14 4.36992 17.03L5.79992 15.6ZM5.74992 14.23L2.91992 17.06C4.72992 18.88 7.23992 20 9.99992 20H10.1999L10.1599 15.99C10.1599 15.99 10.0499 16 9.99992 16C8.33992 16 6.83992 15.32 5.74992 14.23Z' fill='%231D1D1D'/%3E%3Cpath d='M2.93001 16.34C1.47001 14.71 0.63001 12.67 0.51001 10.5H3.52001C3.62001 11.88 4.16001 13.17 5.06001 14.22L2.93001 16.35V16.34Z' fill='%231D1D1D'/%3E%3Cpath d='M3.07 11C3.23 12.16 3.68 13.25 4.39 14.18L2.96 15.61C1.9 14.28 1.24 12.69 1.05 11H3.07ZM4 10H0C0 12.76 1.12 15.25 2.92 17.06L5.75 14.23C4.67 13.15 4 11.66 4 10Z' fill='%231D1D1D'/%3E%3Cpath d='M3.31 3.98003L4.65 5.49003C3.8 6.49003 3.26 7.70003 3.07 9.00003H1.06C1.27 7.14003 2.06 5.38003 3.32 3.98003M3.36 2.53003C1.3 4.36003 0 7.03003 0 10H4C4 8.22003 4.78 6.61003 6.02 5.52003L3.36 2.53003Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_25_95'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.header .head_top #right {
    float: right;
    font-size: 0;
    line-height: 0;
    padding: 16px 0 14px 40px;
}
.header .head_top .tik::after {
    position: absolute;
    left: 7px;
    top: 13px;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_23_37)'%3E%3Cg clip-path='url(%23clip1_23_37)'%3E%3Cpath d='M15 7.24537V14.5C15 18.0899 12.0899 21 8.5 21C4.91015 21 2 18.0899 2 14.5C2 10.9101 4.91015 8 8.5 8C9.0163 8 9.5185 8.06019 10 8.17393V11.3368C9.5454 11.1208 9.0368 11 8.5 11C6.567 11 5 12.567 5 14.5C5 16.433 6.567 18 8.5 18C10.433 18 12 16.433 12 14.5V1H15C15 3.76142 17.2386 6 20 6V9C18.1081 9 16.3696 8.34328 15 7.24537Z' fill='%2300FFF0'/%3E%3Cpath d='M17 9.24537V16.5C17 20.0899 14.0899 23 10.5 23C6.91015 23 4 20.0899 4 16.5C4 12.9101 6.91015 10 10.5 10C11.0163 10 11.5185 10.0602 12 10.1739V13.3368C11.5454 13.1208 11.0368 13 10.5 13C8.567 13 7 14.567 7 16.5C7 18.433 8.567 20 10.5 20C12.433 20 14 18.433 14 16.5V3H17C17 5.76142 19.2386 8 22 8V11C20.1081 11 18.3696 10.3433 17 9.24537Z' fill='%23FF0E56'/%3E%3C/g%3E%3Cpath d='M16 8.24537V15.5C16 19.0899 13.0899 22 9.5 22C5.91015 22 3 19.0899 3 15.5C3 11.9101 5.91015 9 9.5 9C10.0163 9 10.5185 9.06019 11 9.17393V12.3368C10.5454 12.1208 10.0368 12 9.5 12C7.567 12 6 13.567 6 15.5C6 17.433 7.567 19 9.5 19C11.433 19 13 17.433 13 15.5V2H16C16 4.76142 18.2386 7 21 7V10C19.1081 10 17.3696 9.34328 16 8.24537Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_23_37'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1_23_37'%3E%3Crect width='24' height='24' fill='white' transform='translate(-1 -1)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.header .head_top .you::after {
    position: absolute;
    left: 7px;
    top: 13px;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.6069 6.99482C19.5307 6.69695 19.3152 6.47221 19.0684 6.40288C18.6299 6.28062 16.501 6 12.001 6C7.50098 6 5.37252 6.28073 4.93225 6.40323C4.68776 6.47123 4.4723 6.69593 4.3951 6.99482C4.2863 7.41923 4.00098 9.19595 4.00098 12C4.00098 14.804 4.2863 16.5808 4.3954 17.0064C4.47126 17.3031 4.68676 17.5278 4.93251 17.5968C5.37252 17.7193 7.50098 18 12.001 18C16.501 18 18.6299 17.7194 19.0697 17.5968C19.3142 17.5288 19.5297 17.3041 19.6069 17.0052C19.7157 16.5808 20.001 14.8 20.001 12C20.001 9.2 19.7157 7.41923 19.6069 6.99482ZM21.5442 6.49818C22.001 8.28 22.001 12 22.001 12C22.001 12 22.001 15.72 21.5442 17.5018C21.2897 18.4873 20.547 19.2618 19.6056 19.5236C17.8971 20 12.001 20 12.001 20C12.001 20 6.10837 20 4.39637 19.5236C3.45146 19.2582 2.70879 18.4836 2.45774 17.5018C2.00098 15.72 2.00098 12 2.00098 12C2.00098 12 2.00098 8.28 2.45774 6.49818C2.71227 5.51273 3.45495 4.73818 4.39637 4.47636C6.10837 4 12.001 4 12.001 4C12.001 4 17.8971 4 19.6056 4.47636C20.5505 4.74182 21.2932 5.51636 21.5442 6.49818ZM10.001 15.5V8.5L16.001 12L10.001 15.5Z' fill='%23FF0000'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.header .head_top .ins::after {
    position: absolute;
    left: 7px;
    top: 13px;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.001 9C10.3436 9 9.00098 10.3431 9.00098 12C9.00098 13.6573 10.3441 15 12.001 15C13.6583 15 15.001 13.6569 15.001 12C15.001 10.3427 13.6579 9 12.001 9ZM12.001 7C14.7614 7 17.001 9.2371 17.001 12C17.001 14.7605 14.7639 17 12.001 17C9.24051 17 7.00098 14.7629 7.00098 12C7.00098 9.23953 9.23808 7 12.001 7ZM18.501 6.74915C18.501 7.43926 17.9402 7.99917 17.251 7.99917C16.5609 7.99917 16.001 7.4384 16.001 6.74915C16.001 6.0599 16.5617 5.5 17.251 5.5C17.9393 5.49913 18.501 6.0599 18.501 6.74915ZM12.001 4C9.5265 4 9.12318 4.00655 7.97227 4.0578C7.18815 4.09461 6.66253 4.20007 6.17416 4.38967C5.74016 4.55799 5.42709 4.75898 5.09352 5.09255C4.75867 5.4274 4.55804 5.73963 4.3904 6.17383C4.20036 6.66332 4.09493 7.18811 4.05878 7.97115C4.00703 9.0752 4.00098 9.46105 4.00098 12C4.00098 14.4745 4.00753 14.8778 4.05877 16.0286C4.0956 16.8124 4.2012 17.3388 4.39034 17.826C4.5591 18.2606 4.7605 18.5744 5.09246 18.9064C5.42863 19.2421 5.74179 19.4434 6.17187 19.6094C6.66619 19.8005 7.19148 19.9061 7.97212 19.9422C9.07618 19.9939 9.46203 20 12.001 20C14.4755 20 14.8788 19.9934 16.0296 19.9422C16.8117 19.9055 17.3385 19.7996 17.827 19.6106C18.2604 19.4423 18.5752 19.2402 18.9074 18.9085C19.2436 18.5718 19.4445 18.2594 19.6107 17.8283C19.8013 17.3358 19.9071 16.8098 19.9432 16.0289C19.9949 14.9248 20.001 14.5389 20.001 12C20.001 9.52552 19.9944 9.12221 19.9432 7.97137C19.9064 7.18906 19.8005 6.66149 19.6113 6.17318C19.4434 5.74038 19.2417 5.42635 18.9084 5.09255C18.573 4.75715 18.2616 4.55693 17.8271 4.38942C17.338 4.19954 16.8124 4.09396 16.0298 4.05781C14.9258 4.00605 14.5399 4 12.001 4ZM12.001 2C14.7176 2 15.0568 2.01 16.1235 2.06C17.1876 2.10917 17.9135 2.2775 18.551 2.525C19.2101 2.77917 19.7668 3.1225 20.3226 3.67833C20.8776 4.23417 21.221 4.7925 21.476 5.45C21.7226 6.08667 21.891 6.81333 21.941 7.8775C21.9885 8.94417 22.001 9.28333 22.001 12C22.001 14.7167 21.991 15.0558 21.941 16.1225C21.8918 17.1867 21.7226 17.9125 21.476 18.55C21.2218 19.2092 20.8776 19.7658 20.3226 20.3217C19.7668 20.8767 19.2076 21.22 18.551 21.475C17.9135 21.7217 17.1876 21.89 16.1235 21.94C15.0568 21.9875 14.7176 22 12.001 22C9.28431 22 8.94514 21.99 7.87848 21.94C6.81431 21.8908 6.08931 21.7217 5.45098 21.475C4.79264 21.2208 4.23514 20.8767 3.67931 20.3217C3.12348 19.7658 2.78098 19.2067 2.52598 18.55C2.27848 17.9125 2.11098 17.1867 2.06098 16.1225C2.01348 15.0558 2.00098 14.7167 2.00098 12C2.00098 9.28333 2.01098 8.94417 2.06098 7.8775C2.11014 6.8125 2.27848 6.0875 2.52598 5.45C2.78014 4.79167 3.12348 4.23417 3.67931 3.67833C4.23514 3.1225 4.79348 2.78 5.45098 2.525C6.08848 2.2775 6.81348 2.11 7.87848 2.06C8.94514 2.0125 9.28431 2 12.001 2Z' fill='url(%23paint0_angular_23_33)'/%3E%3Cdefs%3E%3CradialGradient id='paint0_angular_23_33' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(12 12) rotate(50.9061) scale(10.3078 10.3078)'%3E%3Cstop offset='0.0421109' stop-color='%23D4550E'/%3E%3Cstop offset='0.184833' stop-color='%23FCF329' stop-opacity='0.79'/%3E%3Cstop offset='0.291588' stop-color='%23FE8007'/%3E%3Cstop offset='0.40813' stop-color='%23FF0DA2'/%3E%3Cstop offset='0.514504' stop-color='%238F00FF' stop-opacity='0.9'/%3E%3Cstop offset='0.735007' stop-color='%23FF16CC'/%3E%3Cstop offset='0.90597' stop-color='%23E8126C'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.header .head_top .face::after {
    position: absolute;
    left: 7px;
    top: 13px;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.001 19.9381C16.9473 19.446 20.001 16.0796 20.001 12C20.001 7.58172 16.4193 4 12.001 4C7.5827 4 4.00098 7.58172 4.00098 12C4.00098 16.0796 7.05467 19.446 11.001 19.9381V14H9.00098V12H11.001V10.3458C11.001 9.00855 11.1402 8.52362 11.4017 8.03473C11.6631 7.54584 12.0468 7.16216 12.5357 6.9007C12.9184 6.69604 13.3931 6.57252 14.2227 6.51954C14.5519 6.49851 14.9781 6.52533 15.501 6.6V8.5H15.001C14.0837 8.5 13.7052 8.54332 13.4789 8.66433C13.3386 8.73939 13.2404 8.83758 13.1653 8.97793C13.0443 9.20418 13.001 9.42853 13.001 10.3458V12H15.501L15.001 14H13.001V19.9381ZM12.001 22C6.47813 22 2.00098 17.5228 2.00098 12C2.00098 6.47715 6.47813 2 12.001 2C17.5238 2 22.001 6.47715 22.001 12C22.001 17.5228 17.5238 22 12.001 22Z' fill='%23001AFF'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.header .head_sub {
    width: 100%;
    height: 100px;
}
.header .head_sub .logo {
    padding-top: 10px;
}
.header .head_sub .logo a {
    display: block;
    width: 160px;
    height: 77px;
    font-size: 0;
    background: url(../images/logo_pc.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.header .head_sub ul.depth1 {
    position: absolute;
    display: flex;
    left: calc(50% - 180px);
    text-align: center;
    margin-top: -25px;
}
.header .head_sub ul.depth1 > li > a {
    font-size: 1.471rem;
    font-weight: 500;
    margin: 0 20px;
}
.header .head_sub ul.depth2 {
    display: none;
}
.header .head_sub ul.depth1 > li:hover> .depth2 {
    display: block;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    border-radius: 30px;
}
.header .head_sub ul.depth2 > li > a {
    line-height: 30px;
    font-size: 1.176rem;
}
.header .head_sub ul.depth2 > li > a:hover {
    font-weight: 500;
}

.header .gnb_wrap {
    display: none;
}
.header .gnb .gnb_open,
.header .gnb .gnb_close {
    float: right;
    margin-top: -27px;
    margin-right: 50px;
}
.header .gnb .gnb_close {
    display: none;
}

.header .tnb a {
    float: right;
    display: block;
    position: relative;
    margin: -25px 0 0 0
}
.header .tnb .login::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 30x;
    height: 30px;
    font-size: 0;
    line-height: 0;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 27.5H22.5V25C22.5 22.9289 20.8211 21.25 18.75 21.25H11.25C9.17894 21.25 7.5 22.9289 7.5 25V27.5H5V25C5 21.5483 7.79822 18.75 11.25 18.75H18.75C22.2017 18.75 25 21.5483 25 25V27.5ZM15 16.25C10.8579 16.25 7.5 12.8921 7.5 8.75C7.5 4.60786 10.8579 1.25 15 1.25C19.1421 1.25 22.5 4.60786 22.5 8.75C22.5 12.8921 19.1421 16.25 15 16.25ZM15 13.75C17.7614 13.75 20 11.5114 20 8.75C20 5.98857 17.7614 3.75 15 3.75C12.2386 3.75 10 5.98857 10 8.75C10 11.5114 12.2386 13.75 15 13.75Z' fill='black'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}