@import url(default.css);
@import url(common.css);
@import url(layout.css);
/*
    파일명 : main.css
    작성자 : 변로아
    작성일 : 2024.03.28
    설  명 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다)
*/

.visual h2 {
    display: none;
}
.swiper { 
    height:800px 
}
.swiper-slide img {
    display:block; 
    width:100%;
    height:100%;
    object-fit:cover; 
}

.course {
    margin-top: 130px;
}
.course h2 {
    text-align: center;
    font-size: 2.353rem;
}
.course p {
    text-align: center;
    font-size: 1.176rem;
    margin-bottom: 30px;
}
.course ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.course ul li {
    width: 298px;
    height: 250px;
    margin-top: 15px;
}
.course ul li img {
    border-radius: 30px;
}
.course ul li h3 {
    font-size: 1.176rem;
}
.course ul li a h3 {
    font-size: 1.176rem;
    display: block;
    position: relative;
}
.course ul li a h3::after {
    position: absolute;
    top: 0;
    right: 5px;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16675 9.16675V4.16675H10.8334V9.16675H15.8334V10.8334H10.8334V15.8334H9.16675V10.8334H4.16675V9.16675H9.16675Z' fill='black'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px auto;
    transition: 1s;
}
.course ul li a h3:hover::after {
    transform: rotate(360deg);
} 

.event {
    margin-top: 130px;
}
.event h2 {
    text-align: center;
    font-size: 2.353rem;
}
.event p {
    text-align: center;
    font-size: 1.176rem;
    margin-bottom: 30px;
}
.event a img.img02 {
    margin-top: 20px;
}
.event a img.img01 {
    margin: -350px 0 0 850px;
}
.event .more a {
    display: block;
    position: relative;
    margin-left: 900px;
    margin-top: 50px;
}
.event .more a::after {
    position: absolute;
    top: -4px;
    left: 45px;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16675 9.16675V4.16675H10.8334V9.16675H15.8334V10.8334H10.8334V15.8334H9.16675V10.8334H4.16675V9.16675H9.16675Z' fill='black'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px auto;
    transition: 1s;
}
.event .more a:hover::after {
    transform: rotate(360deg);
} 

.news {
    margin-top: 170px;
    background-color: #F8F8F8;
    height: 800px;
}
.news h2 {
    padding-top: 115px;
    text-align: center;
    font-size: 2.353rem;
}
.news p.pi {
    text-align: center;
    font-size: 1.176rem;
    margin-bottom: 30px;
}
.news ul {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.news ul li {
    width: 290px;
}
.news ul li p {
    margin: 10px 0;
}
.news ul li span {
    color: #5D5D5D;
}
.news ul li a .photo {
    border-radius: 30px;
    display: block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.news ul li a .photo img {
    transition: 0.5s;
    display: block;
    object-fit: cover;
}
.news ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.news .more a {
    display: block;
    position: relative;
    margin-left: 900px;
    margin-top: 90px;
}
.news .more a::after {
    position: absolute;
    top: -4px;
    left: 45px;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16675 9.16675V4.16675H10.8334V9.16675H15.8334V10.8334H10.8334V15.8334H9.16675V10.8334H4.16675V9.16675H9.16675Z' fill='black'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px auto;
    transition: 1s;
}
.news .more a:hover::after {
    transform: rotate(360deg);
} 

.cont {
    margin-top: 130px;
    height:760px;
}
.cont ul {
    display: flex;
}
.cont ul li.friend {
    width: 517px;
    height: 650px;
}
.cont .friend  .swiper {
    height: 640px;
    margin-right: 20px;
}
.cont ul li .cont01,
.cont ul li .cont02 {
    display: flex;
    margin-bottom: 15px;
}
.cont .cont01 .cont01_img img {
    height: 310px;
}
.cont ul li .cont01 .cont01_box,
.cont ul li .cont02 .cont02_box {
    width: 300px;
    height: 310px;
    background-color: #FFECEC;
    padding: 40px;
}
.cont ul li .cont01 .cont01_box h5,
.cont ul li .cont02 .cont02_box h5 {
    font-size: 2.300rem;
    font-weight: 500;
}
.cont ul li .cont01 .cont01_box h6,
.cont ul li .cont02 .cont02_box h6 {
    font-size: 1.176rem;
    margin: 10px 0 110px 0;
}
.cont ul li .cont01 .cont01_box a {
    float: right;
}
.cont ul li .cont02 .cont02_box a {
    float: left;
}
.cont .cont01 a,
.cont .cont02 a {
    display: block;
    position: relative;
}
.cont .cont01 a::after,
.cont .cont02 a::after {
    position: absolute;
    top: 0;
    left: 40px;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16675 9.16675V4.16675H10.8334V9.16675H15.8334V10.8334H10.8334V15.8334H9.16675V10.8334H4.16675V9.16675H9.16675Z' fill='black'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px auto;
    transition: 1s;
}
.cont .cont01 a:hover::after,
.cont .cont02 a:hover::after  {
    transform: rotate(360deg);
}

.cont .cont02 .cont02_img iframe {
    width: 435px;
}

.sns h2 {
    font-size: 2.353rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
}
.sns h2 span {
    color: #FF0000;
}
.sns ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.sns ul li {
    width: 280px;
    height: 270px;
    border-radius: 30px;
    background-color: #F8F8F8;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.25);
}
.sns ul li span img {
    padding: 40px 0 0 100px;
}
.sns ul li p {
    font-size: 1.294rem;
    text-align: center;
    margin: 20px 0 30px 0;
}
.sns ul li a {
    color: #fff;
    background-color:  #4676ED;
    border-radius: 30px;
    margin-left: 77px;
    padding: 10px 30px 7px 30px;;
}
.sns ul li:nth-child(2) a {
    background-color:  #CB228C;
}
.sns ul li:nth-child(3) a {
    background-color:  #DA0000;
}
.sns ul li:last-child a {
    background-color:  #010201;
}

aside.quick {
    position: fixed;
    right: 50px;
    bottom: 85px;
    z-index: 100;
}
aside.quick a {
    display: block;
    font-size: 0;
    line-height: 0;
    position: relative;
}
aside.quick a::before {
    position: absolute;
    right: -20px;
    top: -170px;
    width: 179px;
    height: 219px;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    background-image: url(../images/quick.png);
}

