@font-face { font-family:'Pretendard'; src:url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); font-weight:400; font-style:normal; }
@font-face { font-family:'Pretendard'; src:url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff'); font-weight:700; font-style:normal; }
body {
    font-family: 'Pretendard', serif;
    font-size: 15PX; 
    font-weight: 400;
    line-height: 1.2; 
    word-break: keep-all;
    color: #3d3d3d
    }
.wrapper {
    width: 1280PX; 
    margin: 0 AUTO;
}
* {
    padding: 0;
    margin: 0; 
  }
  .g_center {
    text-align: center;
    margin: 0 0 60px 0;
}
.g_center h1 {
    font-size: 50px;
    color: #1d1d1d;
    font-weight: 700;
    margin: 70px 0 10px 0;
}
.g_left {
    background-color: #f4f4f4;
    padding: 35px;
    margin: 0 0 40px 0;
}
.g_left h2 {
    font-size: 40px;
    color: #a50133;
    font-weight: 700;
    line-height: 1.1;
    margin: 10px 0 10px -5px;
}
.g_left P {
    color: #666666;
}
.g_right {
    text-align: right;
    background-color: #3d3d3d;
    padding: 45px;
    }
    .g_right H2 {
        font-size: 40px;
        color: #ffffff;
        font-weight: 700;
        line-height: 1.1;
        margin: 0 -16px 10px 0;
    }
    .g_right P {
        color: #ebebeb;
    }