/* 웹폰트선언 */
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff) format('woff2'), url(../fonts/Pretendard-Regular.woff2) format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url(../fonts/Pretendard-Medium.woff) format('woff2'), url(../fonts/Pretendard-Medium.woff2) format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff) format('woff2'), url(../fonts/Pretendard-Bold.woff2) format('woff');
}
html, body {
    font-family:'Pretendard', sans-serif;
    font-size: 15px;
    color: #3d3d3d;
    font-weight: 400;
    /* line-height: 1.2; */
    word-break: keep-all;
    /* letter-spacing: -0.05em; 자간 */
}
.wrapper {
    width: 1280px; /* 홈페이지넓이 */
    margin: 0 auto; /* 가운데정렬 */
}
#wrap {  
    min-width: 1280px;
     /* pc형에서 웹퍼 사이즈보다 브라우저 넓이가 적을때 가로 스크롤바가
     생성> 오른쪽에 백그라운드가 짤리는 현상이 생김> 가로스크롤바 생성시에도
     홈페이지를 정상적으로 서비스하기위해 최소 넓이를 입력 */
    /* id="wrap"에 적용되는 스타일 */
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none; 
}
a { /* a태그는 파락색에 언더라인이 기본적으로 생성 */
    text-decoration: none; /* 언더라인제거 */
    color: inherit; /* 색상은 누구한테든 상속받음 */
}
address, em {
    font-style: normal;
    /* em, address 태그는 기본적으로 글자가 기울어짐 디자인상 기울어짐을 사용하기 위해x
    최근 기울여 디자인하지x  */
}

<<<<<<< Updated upstream
=======
.header {
    /* 바디를 기준으로 정렬
       포지션값을 주면 (예외 렐러티브) 블러 요소라도 콘텐츠가 존재하는 만ㄴ큼만 넓이값이 있음 ..
       이걸 기대하고 코딩하면 안된다*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; /*헤더가 엡솔루트면 와이드는 100% 필수 */
    height: 100px;
    color: #fff;
}
.header .logo{
    float: left;
    margin-top: 33px;
}
.header .gnb {
    float: right;
}
.header .gnb ul {
    display: flex;
}
.header .gnb ul li a {
    font-size: 23px;
    font-weight: 500;
    padding: 50px 40px 20px 40px;
    /* 패딩을 2개만 써주면 첫번째값은 위,아래 같이 적용
    두번째 값은 좌우 같이 적용 */
    display: block;
}

.visual {
    /* 넒이와 높이를 제한이기떄문에 신중하게..
    배경이 내부 콘텐츠만큼 늘어나는게 아니라..
    엄청 큼 이 배경이미지를 모두 보이도록 하려고*/
    height: 900px;
    background: url(../images/biz_bg.png) center center no-repeat;
    border-radius: 0 0 200px 0;
    /* 이미지를 모서리 둥글게 디자인 했다면 대부분 이미지를
    네모 반듯하게 저장하고 css에서 둥글게 처리하는 경우가 많음*/
}
.visual h2 {
    text-align: center; /*이미지 가운데*/
    padding: 215px 0 0 0;
}
.visual .photo {
    width: 210px;
    height: 210px;
    background-color: #2966E3;
    color: #fff;
    display: block;
    border-radius: 100%;
    /* 동그라미는 넓이와 높이를주고 
    보더-라디어스:100% 줌 */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    text-align: center; /*내부에 있는 모든 요소 가운데*/
    position: absolute;
    right: 535px;
    bottom: -98px;

 
.visual .photo i {
    padding: 45px 0 0 0;
    display: block;
}
.visual .photo span {
    display: block;
    /* i태그와 span태그 모두 인라인 태그라 줄바꿈이 안됨.
    이때 스판태그에 블럭을 주면 넓이가 100%가 되서줄이바뀜 */
    font-size: 25px;
    font-weight: 700;  
}
>>>>>>> Stashed changes
