@import url(default.css);
@import url(common.css);
@import url(layout.css);
/*
    파일명 : main.css
    작성자 : 변로아
    작성일 : 2024.02.28
    설  명 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다)
*/

.container {
    margin-top: 150px; /*헤더의 높이만큼*/
}
@media screen and (max-width:1024px) {
    .container {
        margin-top: 100px;
    }
}
@media screen and (max-width:768px) {
    .container {
        margin-top: 50px;
    }
}
.visual .swiper {
    /* height: 600px; */
}
.visual .swiper-slide img {
    width: 100%;
}
.visual .swiper-slide img.popup_m {
    display: none;
}

/* @media screen and (max-width:768px){
    .visual .swiper-slide {
        overflow: hidden;
    }
    .visual .swiper-slide img  {
        width :110%
        transform: translate(-5%, 0);
    }
}
    
    @media screen and (min-width:769px) and (max-width:1024px){
     *769~1024까지만 적용*
    .visual .swiper-slide {
        position: relative;
        height: 500px;
    }
    .visual .swiper-slide img {
        position: absolute;
        left: 50%;
        top: 0;
        width: auto;
        height: 500px;
        transform: translate(-50%, 0);
    }
} */

@media screen and (max-width:768px){
    .visual .swiper-slide img.popup_pc {
        display: none;
    }
    .visual .swiper-slide img.popup_m {
        display: block;
    }
    
}

.product {
    margin: 90px 0 90px 0;  
}
.product h2 {
    font-size: 2.941rem;
    font-weight: 900;
    color: #183833;
    text-align: center;
}
.product .list ul {
    align-items: flex-end;
}
.product .list ul li a{
    display: block;
    position: relative;
    text-align: center;
    padding: 0 0 30px 0;
    transition: 0.5s;
}
.product .list ul li a .photo {
    display: block;
    transition: 0.5s;
}
.product .list ul li a .tit {
    display: block;
    font-size: 1.471rem;
}
.product .list ul li a .name {
    display: block;
    font-size: 1.294rem;
    padding-bottom: 10px;
    font-family: 'Bright', 'serif';
}
.product .list ul li a .info {
    display: block;
    font-size: 1.176rem;
    font-family: 'Bright', 'serif';
}
.product .list ul li a::before {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 300px;
    border: 5px solid transparent;
    border-radius: 20%;
    background-image: linear-gradient(rgba(238, 226, 208, 1), rgba(238, 226, 208, 1)), 
    linear-gradient(to bottom, #183833 0%,  #000 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    content: "";
    transition: 0.5s;
}
/*왼쪽요소- active*/
.product .list ul li.swiper-slide-active a::before {
    background: linear-gradient(#183833, #000)
}
.product .list ul li.swiper-slide-active a .tit,
.product .list ul li.swiper-slide-active a .name,
.product .list ul li.swiper-slide-active a .info {
    color: #EEE2D0;
}


.brand {
    background-color: #183833;
    position: relative;
}
.brand .photo {
    position: absolute;
    left: calc(50% - 110px);
    top: 135px;
    width: calc(50% + 110px);
    height: 500px;
    overflow: hidden;
    border-radius: 250px 0 0 250px ;
}
.brand .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand .inner {
    width: 600px;
    padding: 135px 0 0 0;
}
.brand .inner h2 {
    font-size: 2.941rem;
    font-weight: 900;
    color: #EEE2D0;
    font-family: 'Bright', 'serif';
}
.brand .inner p {
    font-size: 1.176rem;
    line-height: 30px;
    color: #EEE2D0;
    padding: 10px 0 80px 0;
}
.brand .list ul {
    display: flex;
    padding-bottom: 180px;
}
.brand .list ul li {
    width: 10%;
    text-align: center;
}
.brand .list ul li strong {
    display: block;
    color: #EEE2D0;
}

@media screen and (max-width:1640px){
    .brand .photo {
        left: auto;
        right: 0;
        width: calc(100% - 700px);
    }
}
@media screen and (max-width:1024px){
    .brand .inner {
        width: auto;
        padding: 50px 0 0 0;
        position: relative;
        z-index: 10;
    }
    .brand h2 {
        color: #EEE2D0;
        padding: 0 20px;
    }
    .brand p {
        display: none;
    }
    .brand .photo {
        display: none;
    }
    .brand ul {
        background-color: #183833;
    }
    .brand .list ul {
        padding: 20px 20px 60px 20px;
    }
    .brand .list ul li {
        width: 100%;
    }
    .brand .list ul li:ntn-child(even) {
        border-right-width: 0 ;
    }
}
@media screen and (max-width:500px){
    .brand .list ul {
        display: flex;
        justify-content: space-between;
        padding: 30px 20px 50px 20px;
    }
    .brand .list ul li {
        width: 40%;
        text-align: center;
    }
    .brand .list ul li img {
        width: 30px;
        height: 30px;
    }
    .brand .list ul li strong {
        font-size: 11px;
        display: block;
        color: #EEE2D0;
    }
}

.social {
    margin: 100px 0 80px 0;
}
.social h2 {
    font-size:2.941rem ;
    line-height: 1;
    font-family: 'Bright', 'serif';
    margin: 0 0 25px 0;
    text-align: center;
    color: #183833;
}
.social .sns ul {
    display: flex;
    justify-content: center;
}
.social .sns ul li a {
    display: block;
    padding: 0 10px;
    color: #183833;
    position: relative;
    margin-bottom: 50px ;
}
.social .sns ul li a::before {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #183833;
    content: "";
}
.social .list ul li a {
    display: block;
}
.social .list ul li a .photo {
    position: relative;
}
.social .list ul li a .photo img {
    width: 100%;
}
.social .list ul li a .cate {
    position: absolute;
    left: 250px;
    bottom: 90px;
}
.social .list ul li a strong {
    display: block;
    margin: 10px 0 0 0 ;
    text-align: left;
    font-size: 0.882rem;
    color:#183833 ;
    font-weight: 900;
}
.social .list ul li a em {
    width: 286px;
    display: block;
    font-size:0.882rem ;
    color: #183833;
}

@media screen and (max-width:1024px){
    .m_skip {
        display: none;
    }
}

footer {
    border-top: 1px solid #183833;
    background-color: #183833;
    color: #EEE2D0;
    text-align: center;
}
footer .f_logo {
    margin: 45px 0 20px 0;
}
footer .f_logo img {
    width: 140px;
    height: 60px;
}
footer .f_link ul {
    display: flex;
    justify-content: center;
} 
footer .f_link ul li {
    width: 190px;
    margin-left: 10px;
}
footer .f_link ul li a {
    display: block;
    height: 50px;
    border-radius: 50px;
    background-color: #E80A4D;
    color: #EEE2D0;
}
footer .f_link ul li a span {
    padding-top: 14px;
    font-size: 18px;
    position: relative;
    display: inline-block;
    padding-left: 26px;
}
footer .f_link ul li a span::before {
    position: absolute;
    left: -4px;
    top: 13px;
    width: 23px;
    height: 23px;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
footer .f_link ul li.link01 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2V18H12V2H2ZM1 0H13C13.5523 0 14 0.44772 14 1V19C14 19.5523 13.5523 20 13 20H1C0.44772 20 0 19.5523 0 19V1C0 0.44772 0.44772 0 1 0ZM7 15C7.5523 15 8 15.4477 8 16C8 16.5523 7.5523 17 7 17C6.4477 17 6 16.5523 6 16C6 15.4477 6.4477 15 7 15Z' fill='%23EEE2D0'/%3E%3C/svg%3E%0A");
}
footer .f_link ul li.link02 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 10V2H4V10C4 11.1046 4.89543 12 6 12H12C13.1046 12 14 11.1046 14 10ZM3 0H18C19.1046 0 20 0.89543 20 2V5C20 6.10457 19.1046 7 18 7H16V10C16 12.2091 14.2091 14 12 14H6C3.79086 14 2 12.2091 2 10V1C2 0.44772 2.44772 0 3 0ZM16 2V5H18V2H16ZM0 16H18V18H0V16Z' fill='%23EEE2D0'/%3E%3C/svg%3E%0A");
}
footer .f_link ul li.link03 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 13H18V2H2V13ZM11 15V17H15V19H5V17H9V15H0.9918C0.44405 15 0 14.5511 0 13.9925V1.00748C0 0.45107 0.45531 0 0.9918 0H19.0082C19.556 0 20 0.44892 20 1.00748V13.9925C20 14.5489 19.5447 15 19.0082 15H11Z' fill='%23EEE2D0'/%3E%3C/svg%3E%0A");
}
footer .f_nav {
    margin-bottom: 20px;
}
footer .f_nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer .f_nav ul li {
    margin: 20px 42px 20px 0;
    position: relative;
}
footer .f_nav ul li::after {
    position: absolute;
    right: -20px;
    top: 5px;
    width: 1px;
    height: 10px;
    background-color: #EEE2D0;
    content: "";
}
footer .f_nav ul li:last-child {
    margin-right: 0;
}
footer .f_nav ul li:last-child::after {
    display: none;
}
footer .f_info {
    display: inline-block;
}
footer .copyright {
    text-align: right;
    margin: 40px 0 0 0;
    padding: 20px 100px;
    background-color: #EEE2D0;
    color: #183833;
}
aside {
    margin: -65px 65px 0 0;
    float: right;
    width: 60px;
    height:60px;
    border-radius: 100%;
    background-color: #183833;
}
aside button {
    color: #EEE2D0;
    margin: 19px 0px 0 14px;
}

@media screen and (max-width:1024px){
    footer .f_logo {
        margin: 30px 0 15px 0;
    } 
    footer .f_link ul li {
        width: 170px;
    }
    footer .f_link ul li a {
        height: 40px;
    }
    footer .f_link ul li a span {
        padding-top: 10px;
        font-size: 16px;
    }
    footer .f_link ul li a span::before {
        top: 10px;
        width: 20px;
        height: 20px;
    }
    aside button {
        margin: 23px 0px 0 19px;
    }
}
@media screen and (max-width:500px){
    footer .f_link ul li a span::before {
        left: 4px;
        top: 10px;
        width: 18px;
        height: 18px;
    }
    aside {
        margin: -65px 30px 0 0;
    }
    aside button {
        margin: 23px 0px 0 19px;
    }
}