@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff) format('woff2'), url(../fonts/Pretendard-Regular.woff2) format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url(../fonts/Pretendard-Medium.woff) format('woff2'), url(../fonts/Pretendard-Medium.woff2) format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff) format('woff2'), url(../fonts/Pretendard-Bold.woff2) format('woff');
}
body {
    font-family:'Pretendard', sans-serif;
    font-size: 15px;
    color: #3d3d3d;
    font-weight: 400;
    /* line-height: 1.2; */
    word-break: keep-all;
    /* letter-spacing: -0.05em; 자간 */
}
.wrapper {
    width: 1280px; /* 홈페이지넓이 */
    margin: 0 auto; /* 가운데정렬 */
}
#wrep {  
    min-width: 1280px;
     /* pc형에서 웹퍼 사이즈보다 브라우저 넓이가 적을때 가로 스크롤바가
     생성> 오른쪽에 백그라운드가 짤리는 현상이 생김> 가로스크롤바 생성시에도
     홈페이지를 정상적으로 서비스하기위해 최소 넓이를 입력 */
    /* id="wrap"에 적용되는 스타일 */
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none; 
}
a { /* a태그는 파락색에 언더라인이 기본적으로 생성 */
    text-decoration: none; /* 언더라인제거 */
    color: inherit; /* 색상은 누구한테든 상속받음 */
}
address, em {
    font-style: normal;
    /* em, address 태그는 기본적으로 글자가 기울어짐 디자인상 기울어짐을 사용하기 위해x
    최근 기울여 디자인하지x  */
}

.header {
    height: 100px;
}
.header .logo {
    float: left;
    margin: 20px 0 0 0;
} 
.header .gmb {
    float: right;
}
.header .gmb ul {
    display: flex;
}
.header .gmb ul li a {
    color: #1d1d1d;
    font-weight: 500;
    padding: 41px 15px 41px 15px;
    display: block;
    /* a태그는 인라인 태그라서 패딩에 적용x 
    블럭태그로 변경하여 같이 적용시킬것.
    헤더의 높이가 100이라 패딩도 100px넘지말것 */
}

.visual {
    height: 750px; 
    color: #fff;
    background: url(../images/visual_bg.png) center center no-repeat
    /* 배경에 큰 이미지를 넣는다고 이미지가 모두 다 크게 보이는것은 아님
    배경이 모두 보이려면 반드시 영역에 높이를 줘야함 */
}
.visual strong {
    font-size: 30px;
    font-weight: 400;
    padding: 200px 0 0 0;
    display: block;
    /* 상단여백의 마진이 적용이 안되서 패딩으로 수정, 여백이 적용되지 않아 블럭설정 */
}
.visual h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}

.biz {
    margin: 108px 0 108px 0;
}
.biz .art,
.biz .edu {
    display: flex;
}
.biz .edu {
    justify-content: flex-end; /* 오른쪽정렬 */
    margin: 30px 0 0 0;
}
.biz .art .inner {
    margin: 90px 0 0 85px;
}
.biz .edu .inner {
    margin: 90px 85px 0 0;
    width: 420px;
    /* 긴 문장을 넓이를 제한해서 줄바꿈주기 */
    text-align: right;
}
.biz .art h2,
.biz .edu h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 5px 0;
}
.biz .art .sub_tit,
.biz .edu .sub_tit {
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 15px 0;
}
.biz .art .btn_wrap,
.biz .edu .btn_wrap {
    display: flex;
    margin: 10px 0 0 0;
}
.biz .edu .btn_wrap {
    justify-content: flex-end; /*오른쪽 정령 */
}
.biz .art .btn_wrap a,
.biz .edu .btn_wrap a{
    border: 1px solid #6d6d6d;
    padding: 8px 15px 8px 15px;
    display: block;
}
.biz .art .btn_wrap a {
    margin: 0 10px 0 0;
}
.biz .edu .btn_wrap a {
    margin: 0 0 0 10px;
}

.bbs {
    /* 배경이 콘텐츠 높이보다 짧아서 배경 이미지 만큼 높이 못줌- 비쥬얼하고 다름 */
    background: url(../images/bbs_01.png) center top no-repeat;
    color: #fff;
}
.bbs .notice {
    display: flex;
    justify-content: space-between;
    /* 하위요소 두개를 좌우로 나란히 배치 flex
       하위요소를 균등하게 영역에 좌우에 딱맞게 배치 space-between */
}
.bbs .notice .tit {
    margin: 160px 0 0 0;
}
.bbs .notice .tit h2 {
    font-size: 50px;
    font-weight: 700;
}
.bbs .notice .tit p {
    margin: 10px 0 25px 0;
    font-size: 16px;
}
.bbs .notice .tit a {
    border: #fff 1px  solid;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    /* 패딩 안먹어? 디스플레이블럭 안먹어? 인라인블럭 */
}
.bbs .notice ul {
    margin: 150px 0 0 0;
    width: 840px;
    /* ul의 넓이가 디자인보다 작아서 넓이를 줌 */
}
.bbs .notice ul li {
    border-bottom: 1px solid #fff ;
}
.bbs .notice ul li a {
    display: flex;
    justify-content: space-between;
    /* 제목과 날짜가 좌우 끝에 배치 */
    line-height: 50px;
    /* 공지사항 리스트 디자인을 할 때 정확하게 줄간격을 주려고
    행간을 떨어뜨려 디자인.. 코딩도 정확하게 줄간격을 주기 이해서 행간을 줘버림. */
    font-size: 23px;
}
.bbs .notice ul li a strong {
    font-Weight: inherit;
    /* 스트롱 태그에 브라우저가 주는 스타일 말고 내가 스트롱태그를 감싸는 요소에 준 스타일을 상속
    브라우저가 주는 스타일 무시해! */
}
.bbs .notice ul li a span {
    color: rgba(255, 255, 255, 0.8);
}
.bbs .notice ul :last-child {
    border-bottom: 0;
} 
.bbs .vidio {
    margin: 140px 0 0 0;
}
.bbs .vidio h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 40px 0;
}
.bbs .vidio ul {
    display: flex;
    justify-content: space-between;
}
.bbs .vidio ul li {
    width: 408px;
    /* li안에 콘텐츠가 많고 넓어, 그럼 넓이 제한 줘야 알아서 글에는 줄바꿈 들어감..
    왠만하면li는 넓이를 주는 편 */
}
.bbs .vidio ul li a strong {
    font-size: 23px;
    color: #3d3d3d;
    font-weight: inherit; /*<<스트롱 상속받지말고 내가 주는거 적용시켜 */
    margin: 13px 0 0 0;
    display: block;
}
.bbs .vidio ul li a img {
    /* border: 5px solid #fff;
    이미지 테두리를 주면 무조건 밖으로 테두리가 생김 */
    box-shadow: 9px -9px 10px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #2d2d2d;
    color: rgba(255, 255, 255, 0.8);
    margin: 130px 0 0 0;
    padding: 60px 0 50px 0;
    /* 푸터는 내부요소의 상단여백 하단여백으로 하지않고 
    푸터에 패딩을 준다 */
}
.footer .f_nav {
    display: flex;
}
.footer .f_nav li {
    margin: 0 15px 0 15px;
    /* border-left: 1px solid rgba(255, 255, 255, 0.6);
    메뉴사이의 선은 보더로 처리가x 위 아래 높이 조절 불가 */
    position: relative;
}
.footer .f_nav li::after {
    position: absolute;
    display: block;
    top: 4px;
    width: 1px;
<<<<<<< HEAD
    height: -18px;
=======
    height: 18px;
>>>>>>> d486b6edc64e79f545ccd431123bec861c805c38
    color: rgba(255, 255, 255, 0.6);
    content: ""; /* 에프터를 보이게 하는 값 */

}
.footer .f_nav li:last-child::after{
    display: none;
}
/* li들 중에 privacy라는 클래스명을 가진li */
.footer .f_nav li.privacy {
    font-weight: 700;
}
.footer .f_info {
    display: flex;
    margin: 25px 0 20px 0;
}
.footer .f_info span,
.footer .f_info address {
    margin: 0 20px 0 0;
}
.footer .copyright {
    color: rgba(255, 255, 255, 0.5);
}