/*
    파일명 : contents.css
    작성자 : 변로아
    작성일 : 2024.02.28
    설  명 : 모든 콘텐츠 페이지별 디자인 스타일 저장
*/
@import url(default.css);
@import url(common.css);
@import url(layout.css);

/* ceo인사말 - 회사소개 */
.cts_greeting {
    margin: 134px 0 275px 0;
    position: relative;
}
.cts_greeting .tit {
    font-size: 25px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 60px 0;
}
.cts_greeting p {
    margin: 0 600px 0 0;
}
.cts_greeting p strong {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}
.cts_greeting p strong span {
    color: #A7141E;
}
.cts_greeting .ceo {
    position: absolute;
    left: calc(50% + 95px);
    top: -10px;
}
.cts_greeting .ceo .photo {
    position: relative;
    font-size: 0;
    line-height: 0;
}
.cts_greeting .ceo .photo::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 640px;
    height: 594px;
    background-color: #F4F4F4;
    border-radius: 300px 0 0 0;
    content: "";
}
.cts_greeting .ceo .photo img {
    position: relative;
}
.cts_greeting .ceo .sign {
    display: flex;
    align-items: flex-start;
    margin: 40px 0 0 0;
}
.cts_greeting .ceo .sign strong {
    display: block;
    margin: 10px 30px 0 0;
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}
@media screen and (max-width:1320px){
    .cts_greeting p {
        margin: 0 500px 0 0;
    }
    .cts_greeting .ceo {
        position: absolute;
        left: auto;
        right: 0;
        top: auto;
        bottom: 0;
    }
    .cts_greeting .ceo .photo img {
        width: 400px;
    }
}
@media screen and (max-width:1024px){
    .cts_greeting .tit br.mno {
        display: none;
    }
    .cts_greeting p {
        margin: 0;
    }
    .cts_greeting .ceo {
        position: relative;
        right: auto;
        bottom: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
    }
    .cts_greeting .ceo .photo {
        height: 300px;
        overflow: hidden;
    }
    .cts_greeting .ceo .photo::before {
        display: none;
    }
    .cts_greeting .ceo .photo img {
        width: 100%;
    }
    .cts_greeting .ceo .sign {
        display: block;
    }
}
@media screen and (max-width:768px){
    
}

/* 회사소개 --연혁-- */
.cts_history {
    margin: 25px 0 60px 0;
}
.cts_history h2 {
    display: none;
}
.cts_history .year10 {
    /*<div class="year10 left"></div>
      <div class="year10 right"></div>
      이렇게 두개가 있는 경우 위 left하단 여백과  
      right 상단의 여백은 중복해서 들어가지 않고
      둘중 제일 큰 여백만 들어감 마진은 위아래 여백이
      들어가는 경우 큰거에 하나만 들어감*/
    margin: 130px 0;
    display: flex;
    justify-content: space-between;
}
.cts_history .year10.right{
    flex-direction: row-reverse; /*플렉스 반대*/
}
.cts_history .year_tit {
    width: 340px;
    position: relative;
}
.cts_history .year_cnt {
    width: calc(100% - 540px);
    position:relative;
}
.cts_history .year_cnt::before {
    position: absolute;
    left: 103px;
    top: 12px;
    width: 1px;
    height: calc(100% - 12px);
    /*top밑으로 밀어준 만큼 뺴고 선을 그리기위해
    그냥 1005 주면 밀어준만큼 하단으로 밀림*/
    background-color: #A7141E;
    content: "";
}
.cts_history .right .year_cnt::before {
    left: auto;
    right: 102px;
}
 /*긴 중간선의 마지막 꼬리를 흰색으로 덧칠*/
.cts_history .year_cnt .year1_group:last-child dl dd:last-child {
    position: relative;
}
.cts_history .year_cnt .year1_group:last-child dl dd:last-child::before {
    position: absolute;
    left: -67px;
    bottom: -16px;
    width: 1px;
    height: 100%;
    background-color: #fff;
    content: "";
}
.cts_history .right .year_cnt .year1_group:last-child dl dd:last-child::before {
    left: 637px;
    background-color: #fff;
}
.cts_history .year_cnt .year1_group {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.cts_history .year_cnt .year1_group:last-child {
    margin-bottom: -10px;
    /*<div class="year_cnt">
       <div class="year1_group"></div>
       <div class="year1_group"></div> <--last-child 선택가능
      </div>
      */
}
.cts_history .right .year_cnt .year1_group {
    flex-direction: row-reverse
}
.cts_history .year_cnt .year1_group h3 {
    color: #A7141E;
    font-size: 35px;
    font-weight: 800;
    line-height: 1;
}
.cts_history .year_cnt .year1_group dl {
    width: calc(100% - 120px);
}
.cts_history .year_cnt .year1_group dt {
    float: left;
    /*dd태그는 dt를 없는 것처럼 인식하게됨*/
    font-size: 25px;
    line-height: 1;
    position: relative;
} 
.cts_history .right .year_cnt .year1_group dl dt {
    float: right;
}
.cts_history .year_cnt .year1_group dl dt::before {
    position: absolute;
    left: -19px;
    top: 11px;
    width: 5px;
    height: 5px;
    border-radius:100%;
    background-color: #A7141E;
    content: "";

}
.cts_history .right .year_cnt .year1_group dl dt::before {
    left: auto;
    right: -20px;
}
.cts_history .year_cnt .year1_group dd {
    margin: 5px 0 15px 50px; /*dt가 들어갈 자리 반드시 마진만가능*/
}
.cts_history .right .year_cnt .year1_group dl dd  {
    margin:  0 50px 20px 0;
    text-align: right;
}
.cts_history .year_cnt .year1_group dd + dd {
    /* 만약 dd태그가 두번 연속인 경우에 두번쨰 dd */
    margin-top: -10px;
}

@media screen and (max-width:1320px){
    .cts_history .year_tit {
        width: 263px;
        position: relative;
    }
    .cts_history .year_cnt {
        width: calc(100% - 540px);
        position:relative;
    }
}
@media screen and (max-width:1024px){
    .cts_history .year10 {
        display: block;
    }
    .cts_history .year_tit {
        width: auto;
    }
    .cts_history .year_tit .photo {
        margin: 0 0 40px 0;
    }
    .cts_history .year_cnt {
        width: auto;
    }
    .cts_history .year10.right {
        flex-direction: row;
    }
    .cts_history .right .year_cnt::before {
        right: auto;
        left: 102px;
        top: 11px;
    }
    .cts_history .right .year_cnt .year1_group {
        flex-direction: row;
    }
    .cts_history .right .year_cnt .year1_group dl dt {
        float: left;
    }
    .cts_history .right .year_cnt .year1_group dl dd  {
        margin:  0 0 20px 50px;
        text-align: left;
    }
    .cts_history .right .year_cnt .year1_group dl dt::before {
        right: auto;
        left: -20px;
    }
    .cts_history .right .year_cnt .year1_group:last-child dl dd:last-child::before {
        left:-68px;
        background-color: #fff;
    }
}
@media screen and (max-width:768px){
    .cts_history .right .year_cnt::before {
        left: auto;
        right: 625px;
        top: 11px;
    }
    .cts_history .right .year_cnt .year1_group:last-child dl dd:last-child::before {
        left:-68px;
        background-color: #fff;
    }
}

.cts_ir03 {
    margin: 95px 0 150px 0;
}
.cts_ir03 h2 {
    font-size: 40px;
    font-weight: 800;
}
.cts_ir03 p {
    font-size: 30px;
    font-weight: 300;
    margin: 15px 0;
}
.cts_ir03 .table_wrap {
    overflow-y: auto;
    /*모바일에서 테이블이 다 안보일 때 좌우로 스크롤*/
}
.cts_ir03 .table_wrap table {
    width: 100%;
    border-collapse: collapse; /*테이블태그만 적용되는 거임 - 선을 병합*/
    border-top: 3px solid #A7141E;
    text-align: center;
}
.cts_ir03 .table_wrap table caption {
    display: none;
}
.cts_ir03 .table_wrap table th,
.cts_ir03 .table_wrap table td {
    border: 1px solid #A7141E;
}
.cts_ir03.table_wrap table th span {
    font-size: 20px;
}
/*
.cts_ir03 .table_wrap table th,
.cts_ir03 .table_wrap table td
라스트 차일드, 퍼스트차일드로 좌우 사이드 선 없애기 쌉가능
*/
.cts_ir03 .table_wrap table tbody th,
.cts_ir03 .table_wrap table tbody td {
    font-size: 20px;
    padding: 10px 20px 10px 10px;
}
.cts_ir03 .table_wrap table thead th,
.cts_ir03 .table_wrap table thead td {
    font-size: 26px;
    background-color: #F4F4F4;
    padding: 10px 20px 10px 10px;
}

@media screen and (max-width:768px){
    .cts_ir03 {
        margin: 60px 0 100px 0;
    }
    .cts_ir03 h2 {
        font-size: 30px;
    }
    .cts_ir03 p {
        font-size: 25px;
        margin: 10px 0;
    }
    .cts_ir03 .table_wrap table tbody th,
.cts_ir03 .table_wrap table tbody td {
    font-size: 18px;
}
.cts_ir03 .table_wrap table thead th,
.cts_ir03 .table_wrap table thead td {
    font-size: 18px;
}
}

/*사업실적검색 > 사업분야*/
.cts_biz05 {
    margin: 90px 0;
}
.cts_biz05 .search_group .search {
    max-width: 844px; /*최대넓이*/
    width: 100%;
    /*max-width: 844px; / width: 100%;
    넓이가 기본적으로 100%인데 감싸는 영역의 넓이의 100%
    감싸는 영역이 늘어나서 많이 넓ㅇ어져서 해당요소의 넓이도
    844px 이상으로 늘어날거같으면 그 이상은 안늘어나게하는 코드 */
    height: 70px;
    border: 2px solid #A7141E;
    border-radius: 50px;
    margin: 0 auto; /*넓이가 있는 블럭요소를 가운데정렬*/
    position: relative; /*search::before 기준*/
    padding: 0 0 0 106px;
    display: flex;
    align-items: center;/*상하좌우*/
}
.cts_biz05 .search_group .search:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2) ;
}
.cts_biz05 .search_group .search::before {
    position: absolute;
    left: 35px;
    top: 0;
    font-size: 40px;
    font-weight: 900;
    color: #A7141E;
    content: "K";
}
.cts_biz05 .search_group .search label {
    display: none; /*숨김*/
}
.cts_biz05 .search_group .search input[type="text"] {
    font-size: 30px;
    color: black;
    width: calc(100% - 106px);
    border: 0;
    outline: 0; /*포커스되면 나오는 테두리 없앰*/
}

.cts_biz05 .search_group .search input[type="text"]::placeholder {
    font-size: 30px;
    font-weight: 400;
    color: rgba(167, 20, 30, 0.2);
}
.cts_biz05 .search_group .search input[type="submit"] {
    border: 0;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.334 3.33301C26.614 3.33301 33.334 10.053 33.334 18.333C33.334 26.613 26.614 33.333 18.334 33.333C10.054 33.333 3.33398 26.613 3.33398 18.333C3.33398 10.053 10.054 3.33301 18.334 3.33301ZM18.334 29.9997C24.7798 29.9997 30.0007 24.7788 30.0007 18.333C30.0007 11.8872 24.7798 6.66634 18.334 6.66634C11.8882 6.66634 6.66732 11.8872 6.66732 18.333C6.66732 24.7788 11.8882 29.9997 18.334 29.9997ZM32.4762 30.1182L37.1902 34.8322L34.8332 37.1892L30.1192 32.4752L32.4762 30.1182Z' fill='%23A7141E'/%3E%3C/svg%3E%0A");
    margin-left: 30px;
}

@media screen and (max-width:1024px) {
    .cts_biz05 {
        margin: 80px 0;
    }
    .cts_biz05 .search_group .search {
        height: 60px;
    }
    .cts_biz05 .search_group .search::before {
        font-size: 35px;
    }
    .cts_biz05 .search_group .search input[type="text"] {
        font-size: 25px;
    }
    .cts_biz05 .search_group .search input[type="text"]::placeholder {
        font-size: 25px;
    }
}
@media screen and (max-width:768px) {
    .cts_biz05 {
        margin: 70px 0;
    }
    .cts_biz05 .search_group .search input[type="submit"] {
        width: 35px;
        height: 35px;
    }
}