/*
    파일명 : contents.css
    작성자 : 변로아
    작성일 : 2024.02.28
    설  명 : 모든 콘텐츠 페이지별 디자인 스타일 저장
*/
@import url(default.css);
@import url(common.css);
@import url(layout.css);

/* ceo인사말 - 회사소개 */
.cts_greeting {
    margin: 134px 0 275px 0;
    position: relative;
}
.cts_greeting .tit {
    font-size: 25px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 60px 0;
}
.cts_greeting p {
    margin: 0 600px 0 0;
}
.cts_greeting p strong {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}
.cts_greeting p strong span {
    color: #A7141E;
}
.cts_greeting .ceo {
    position: absolute;
    left: calc(50% + 95px);
    top: -10px;
}
.cts_greeting .ceo .photo {
    position: relative;
    font-size: 0;
    line-height: 0;
}
.cts_greeting .ceo .photo::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 640px;
    height: 594px;
    background-color: #F4F4F4;
    border-radius: 300px 0 0 0;
    content: "";
}
.cts_greeting .ceo .photo img {
    position: relative;
}
.cts_greeting .ceo .sign {
    display: flex;
    align-items: flex-start;
    margin: 40px 0 0 0;
}
.cts_greeting .ceo .sign strong {
    display: block;
    margin: 10px 30px 0 0;
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}
@media screen and (max-width:1320px){
    .cts_greeting p {
        margin: 0 500px 0 0;
    }
    .cts_greeting .ceo {
        position: absolute;
        left: auto;
        right: 0;
        top: auto;
        bottom: 0;
    }
    .cts_greeting .ceo .photo img {
        width: 400px;
    }
}
@media screen and (max-width:1024px){
    .cts_greeting .tit br.mno {
        display: none;
    }
    .cts_greeting p {
        margin: 0;
    }
    .cts_greeting .ceo {
        position: relative;
        right: auto;
        bottom: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
    }
    .cts_greeting .ceo .photo {
        height: 300px;
        overflow: hidden;
    }
    .cts_greeting .ceo .photo::before {
        display: none;
    }
    .cts_greeting .ceo .photo img {
        width: 100%;
    }
    .cts_greeting .ceo .sign {
        display: block;
    }
}
@media screen and (max-width:768px){
    
}

/* 회사소개 --연혁-- */
.cts_history {
    margin: 25px 0 60px 0;
}
.cts_history h2 {
    display: none;
}
.cts_history .year10 {
    /*<div class="year10 left"></div>
      <div class="year10 right"></div>
      이렇게 두개가 있는 경우 위 left하단 여백과  
      right 상단의 여백은 중복해서 들어가지 않고
      둘중 제일 큰 여백만 들어감 마진은 위아래 여백이
      들어가는 경우 큰거에 하나만 들어감*/
    margin: 130px 0;
    display: flex;
    justify-content: space-between;
}
.cts_history .year10.right{
    flex-direction: row-reverse; /*플렉스 반대*/
}
.cts_history .year_tit {
    width: 340px;
    position: relative;
}
.cts_history .year_cnt {
    width: calc(100% - 540px);
    position:relative;
}
.cts_history .year_cnt::before {
    position: absolute;
    left: 103px;
    top: 12px;
    width: 1px;
    height: calc(100% - 12px);
    /*top밑으로 밀어준 만큼 뺴고 선을 그리기위해
    그냥 1005 주면 밀어준만큼 하단으로 밀림*/
    background-color: #A7141E;
    content: "";
}
.cts_history .right .year_cnt::before {
    left: auto;
    right: 102px;
}
 /*긴 중간선의 마지막 꼬리를 흰색으로 덧칠*/
.cts_history .year_cnt .year1_group:last-child dl dd:last-child {
    position: relative;
}
.cts_history .year_cnt .year1_group:last-child dl dd:last-child::before {
    position: absolute;
    left: -67px;
    bottom: -16px;
    width: 1px;
    height: 100%;
    background-color: #fff;
    content: "";
}
.cts_history .right .year_cnt .year1_group:last-child dl dd:last-child::before {
    left: 637px;
    background-color: #fff;
}
.cts_history .year_cnt .year1_group {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.cts_history .year_cnt .year1_group:last-child {
    margin-bottom: -10px;
    /*<div class="year_cnt">
       <div class="year1_group"></div>
       <div class="year1_group"></div> <--last-child 선택가능
      </div>
      */
}
.cts_history .right .year_cnt .year1_group {
    flex-direction: row-reverse
}
.cts_history .year_cnt .year1_group h3 {
    color: #A7141E;
    font-size: 35px;
    font-weight: 800;
    line-height: 1;
}
.cts_history .year_cnt .year1_group dl {
    width: calc(100% - 120px);
}
.cts_history .year_cnt .year1_group dt {
    float: left;
    /*dd태그는 dt를 없는 것처럼 인식하게됨*/
    font-size: 25px;
    line-height: 1;
    position: relative;
} 
.cts_history .right .year_cnt .year1_group dl dt {
    float: right;
}
.cts_history .year_cnt .year1_group dl dt::before {
    position: absolute;
    left: -19px;
    top: 11px;
    width: 5px;
    height: 5px;
    border-radius:100%;
    background-color: #A7141E;
    content: "";

}
.cts_history .right .year_cnt .year1_group dl dt::before {
    left: auto;
    right: -20px;
}
.cts_history .year_cnt .year1_group dd {
    margin: 5px 0 15px 50px; /*dt가 들어갈 자리 반드시 마진만가능*/
}
.cts_history .right .year_cnt .year1_group dl dd  {
    margin:  0 50px 20px 0;
    text-align: right;
}
.cts_history .year_cnt .year1_group dd + dd {
    /* 만약 dd태그가 두번 연속인 경우에 두번쨰 dd */
    margin-top: -10px;
}

@media screen and (max-width:1320px){
    .cts_history .year_tit {
        width: 263px;
        position: relative;
    }
    .cts_history .year_cnt {
        width: calc(100% - 540px);
        position:relative;
    }
}
@media screen and (max-width:1024px){
    .cts_history .year10 {
        display: block;
    }
    .cts_history .year_tit {
        width: auto;
    }
    .cts_history .year_tit .photo {
        margin: 0 0 40px 0;
    }
    .cts_history .year_cnt {
        width: auto;
    }
    .cts_history .year10.right {
        flex-direction: row;
    }
    .cts_history .right .year_cnt::before {
        right: auto;
        left: 102px;
        top: 11px;
    }
    .cts_history .right .year_cnt .year1_group {
        flex-direction: row;
    }
    .cts_history .right .year_cnt .year1_group dl dt {
        float: left;
    }
    .cts_history .right .year_cnt .year1_group dl dd  {
        margin:  0 0 20px 50px;
        text-align: left;
    }
    .cts_history .right .year_cnt .year1_group dl dt::before {
        right: auto;
        left: -20px;
    }
    .cts_history .right .year_cnt .year1_group:last-child dl dd:last-child::before {
        left:-68px;
        background-color: #fff;
    }
}
@media screen and (max-width:768px){
    .cts_history .right .year_cnt::before {
        left: auto;
        right: 625px;
        top: 11px;
    }
    .cts_history .right .year_cnt .year1_group:last-child dl dd:last-child::before {
        left:-68px;
        background-color: #fff;
    }
}

.cts_ir03 {
    margin: 95px 0 150px 0;
}
.cts_ir03 h2 {
    font-size: 40px;
    font-weight: 800;
}
.cts_ir03 p {
    font-size: 30px;
    font-weight: 300;
    margin: 15px 0;
}
.cts_ir03 .table_wrap {
    overflow-y: auto;
    /*모바일에서 테이블이 다 안보일 때 좌우로 스크롤*/
}
.cts_ir03 .table_wrap table {
    width: 100%;
    border-collapse: collapse; /*테이블태그만 적용되는 거임 - 선을 병합*/
    border-top: 3px solid #A7141E;
    text-align: center;
}
.cts_ir03 .table_wrap table caption {
    display: none;
}
.cts_ir03 .table_wrap table th,
.cts_ir03 .table_wrap table td {
    border: 1px solid #A7141E;
}
.cts_ir03.table_wrap table th span {
    font-size: 20px;
}
/*
.cts_ir03 .table_wrap table th,
.cts_ir03 .table_wrap table td
라스트 차일드, 퍼스트차일드로 좌우 사이드 선 없애기 쌉가능
*/
.cts_ir03 .table_wrap table tbody th,
.cts_ir03 .table_wrap table tbody td {
    font-size: 20px;
    padding: 10px 20px 10px 10px;
}
.cts_ir03 .table_wrap table thead th,
.cts_ir03 .table_wrap table thead td {
    font-size: 26px;
    background-color: #F4F4F4;
    padding: 10px 20px 10px 10px;
}

@media screen and (max-width:768px){
    .cts_ir03 {
        margin: 60px 0 100px 0;
    }
    .cts_ir03 h2 {
        font-size: 30px;
    }
    .cts_ir03 p {
        font-size: 25px;
        margin: 10px 0;
    }
    .cts_ir03 .table_wrap table tbody th,
.cts_ir03 .table_wrap table tbody td {
    font-size: 18px;
}
.cts_ir03 .table_wrap table thead th,
.cts_ir03 .table_wrap table thead td {
    font-size: 18px;
}
}

/*사업실적검색 > 사업분야*/
.cts_biz05 {
    margin: 90px 0;
}
.cts_biz05 .search_group .search {
    max-width: 844px; /*최대넓이*/
    width: 100%;
    /*max-width: 844px; / width: 100%;
    넓이가 기본적으로 100%인데 감싸는 영역의 넓이의 100%
    감싸는 영역이 늘어나서 많이 넓ㅇ어져서 해당요소의 넓이도
    844px 이상으로 늘어날거같으면 그 이상은 안늘어나게하는 코드 */
    height: 70px;
    border: 2px solid #A7141E;
    border-radius: 50px;
    margin: 0 auto; /*넓이가 있는 블럭요소를 가운데정렬*/
    position: relative; /*search::before 기준*/
    padding: 0 0 0 106px;
    display: flex;
    align-items: center;/*상하좌우*/
}
.cts_biz05 .search_group .search:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2) ;
}
.cts_biz05 .search_group .search::before {
    position: absolute;
    left: 35px;
    top: 0;
    font-size: 40px;
    font-weight: 900;
    color: #A7141E;
    content: "K";
}
.cts_biz05 .search_group .search label {
    display: none; /*숨김*/
}
.cts_biz05 .search_group .search input[type="text"] {
    font-size: 30px;
    color: black;
    width: calc(100% - 106px);
    border: 0;
    outline: 0; /*포커스되면 나오는 테두리 없앰*/
}

.cts_biz05 .search_group .search input[type="text"]::placeholder {
    font-size: 30px;
    font-weight: 400;
    color: rgba(167, 20, 30, 0.2);
}
.cts_biz05 .search_group .search input[type="submit"] {
    border: 0;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.334 3.33301C26.614 3.33301 33.334 10.053 33.334 18.333C33.334 26.613 26.614 33.333 18.334 33.333C10.054 33.333 3.33398 26.613 3.33398 18.333C3.33398 10.053 10.054 3.33301 18.334 3.33301ZM18.334 29.9997C24.7798 29.9997 30.0007 24.7788 30.0007 18.333C30.0007 11.8872 24.7798 6.66634 18.334 6.66634C11.8882 6.66634 6.66732 11.8872 6.66732 18.333C6.66732 24.7788 11.8882 29.9997 18.334 29.9997ZM32.4762 30.1182L37.1902 34.8322L34.8332 37.1892L30.1192 32.4752L32.4762 30.1182Z' fill='%23A7141E'/%3E%3C/svg%3E%0A");
    margin-left: 30px;
}

@media screen and (max-width:1024px) {
    .cts_biz05 {
        margin: 80px 0;
    }
    .cts_biz05 .search_group .search {
        height: 60px;
    }
    .cts_biz05 .search_group .search::before {
        font-size: 35px;
    }
    .cts_biz05 .search_group .search input[type="text"] {
        font-size: 25px;
    }
    .cts_biz05 .search_group .search input[type="text"]::placeholder {
        font-size: 25px;
    }
}
@media screen and (max-width:768px) {
    .cts_biz05 {
        margin: 70px 0;
    }
    .cts_biz05 .search_group .search input[type="submit"] {
        width: 35px;
        height: 35px;
    }
}

/*로그인*/
.cts_biz05 .login_group {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
}
.cts_biz05 .login_group input[type="submit"] {
    width: 100%;
    background-color: #A7141E;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    margin: 0 auto;
    cursor: pointer; /*마우스 오버시 포인터손가락*/
}
.cts_biz05 .login_group h2 {
    font-size: 30px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}
.cts_biz05 .login_group .login_form {
    border: 2px solid #A7141E;
    border-radius: 20px;
}
.cts_biz05 .login_group .login_form .user_id {
    border-bottom: 2px solid #A7141E;
}
.cts_biz05 .login_group .login_form .user_id label,
.cts_biz05 .login_group .login_form .user_pw label {
    font-size: 0;
    line-height: 0;
    width: 57px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.cts_biz05 .login_group .login_form .user_id label {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.15847 13.7825C4.44977 12.5754 3.33398 10.5848 3.33398 8.33366C3.33398 4.65176 6.31875 1.66699 10.0007 1.66699C13.6826 1.66699 16.6673 4.65176 16.6673 8.33366C16.6673 10.5848 15.5516 12.5754 13.8428 13.7825L15.5787 17.75C15.6709 17.9608 15.5747 18.2065 15.3639 18.2987C15.3112 18.3217 15.2544 18.3337 15.1969 18.3337H4.80441C4.57429 18.3337 4.38774 18.1471 4.38774 17.917C4.38774 17.8595 4.39963 17.8027 4.42268 17.75L6.15847 13.7825ZM11.7712 13.2053L12.8812 12.4212C14.2015 11.4885 15.0007 9.97966 15.0007 8.33366C15.0007 5.57223 12.7621 3.33366 10.0007 3.33366C7.23923 3.33366 5.00065 5.57223 5.00065 8.33366C5.00065 9.97966 5.79983 11.4885 7.12011 12.4212L8.23014 13.2053L6.71568 16.667H13.2857L11.7712 13.2053ZM6.76608 9.14233L8.3834 8.73799C8.56407 9.46308 9.21965 10.0003 10.0007 10.0003C10.7817 10.0003 11.4372 9.46308 11.6179 8.73799L13.2352 9.14233C12.8738 10.5925 11.5627 11.667 10.0007 11.667C8.43857 11.667 7.12746 10.5925 6.76608 9.14233Z' fill='%23A7141E' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
    background-size: 25PX auto;
}
.cts_biz05 .login_group .login_form .user_pw label {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 6.66634H16.6667C17.1269 6.66634 17.5 7.03944 17.5 7.49967V17.4997C17.5 17.9599 17.1269 18.333 16.6667 18.333H3.33333C2.8731 18.333 2.5 17.9599 2.5 17.4997V7.49967C2.5 7.03944 2.8731 6.66634 3.33333 6.66634H5V5.83301C5 3.07158 7.23857 0.833008 10 0.833008C12.7614 0.833008 15 3.07158 15 5.83301V6.66634ZM9.16667 13.11V14.9997H10.8333V13.11C11.3315 12.8218 11.6667 12.2833 11.6667 11.6663C11.6667 10.7458 10.9205 9.99967 10 9.99967C9.0795 9.99967 8.33333 10.7458 8.33333 11.6663C8.33333 12.2833 8.6685 12.8218 9.16667 13.11ZM13.3333 6.66634V5.83301C13.3333 3.99206 11.8409 2.49967 10 2.49967C8.15905 2.49967 6.66667 3.99206 6.66667 5.83301V6.66634H13.3333Z' fill='%23A7141E' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
    background-size: 25PX auto;
}
.cts_biz05 .login_group .login_form input {
    width: calc(100% - 150px);
    font-size: 20px;
    color: #000;
    border: 0;
    outline: 0;
}
.cts_biz05 .login_group .login_form .user_id,
.cts_biz05 .login_group .login_form .user_pw {
    height: 50px;
    display: flex;
    align-items: center;
}
.cts_biz05 .login_group .login_chk {
    margin: 10px 0 20px 0;
}
.cts_biz05 .login_group .login_chk input {
    display: none;
}
.cts_biz05 .login_group .login_chk input:checked + label::before {
    width: 26px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.25 25.5C6.34644 25.5 0.75 19.9035 0.75 13C0.75 6.09644 6.34644 0.5 13.25 0.5C20.1535 0.5 25.75 6.09644 25.75 13C25.75 19.9035 20.1535 25.5 13.25 25.5ZM12.0032 18L20.8421 9.16116L19.0744 7.3934L12.0032 14.4645L8.46776 10.9289L6.69999 12.6967L12.0032 18Z' fill='%23A7141E'/%3E%3C/svg%3E ");    
}
.cts_biz05 .login_group .login_chk label {
    position: relative;
    font-size: 15px;
    padding-left: 45px;
    background-position: center center;
    background-repeat: no-repeat;
}
.cts_biz05 .login_group .login_chk label::before {
    position: absolute;
    left: 10px;
    top: -6px;
    width: 28px;
    height: 28px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 13.75C4.04822 13.75 1.25 10.9517 1.25 7.5C1.25 4.04822 4.04822 1.25 7.5 1.25C10.9517 1.25 13.75 4.04822 13.75 7.5C13.75 10.9517 10.9517 13.75 7.5 13.75ZM7.5 12.5C10.2614 12.5 12.5 10.2614 12.5 7.5C12.5 4.73857 10.2614 2.5 7.5 2.5C4.73857 2.5 2.5 4.73857 2.5 7.5C2.5 10.2614 4.73857 12.5 7.5 12.5ZM6.87662 10L4.22499 7.34837L5.10888 6.46444L6.87662 8.23225L10.4122 4.6967L11.2961 5.58058L6.87662 10Z' fill='%23B1B1B1'/%3E%3C/svg%3E ");
}

@media screen and (max-width:768px) {
    .cts_biz05 .login_group h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .cts_biz05 .login_group .login_form input {
        font-size: 18px;
    }
    .cts_biz05 .login_group .login_form .user_id,
    .cts_biz05 .login_group .login_form .user_pw {
        height: 45px;
    }
}

.cts_biz05 .join_group {
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
}
.cts_biz05 .join_group .agree_box {
    max-width: 395px;
    width: 100%;
    height: 160px;
    border: 1px solid #A7141E;
    padding: 15px;
    overflow-y: auto;
}
.cts_biz05 .join_group h2 {
    font-size: 30px;
    font-weight: 700;
    color: black;
}
.cts_biz05 .join_group p {
    font-size: 15px;
    color: #4d4d4d;
    margin: 15px 0 10px 0;
}
.cts_biz05 .join_group .agree_box .inner {
    white-space: pre-line;
}
.cts_biz05 .join_group .agree_box .inner::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent;
}
.cts_biz05 .join_group .agree_box .inner::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 3px;
}
.cts_biz05 .join_group .agree_box strong {
    font-weight: 700;
}
.cts_biz05 .join_group .agree_btn {
    display: flex;
    justify-content: space-around;
}
.cts_biz05 .join_group .agree_btn input {
    display: none;
}
.cts_biz05 .join_group .agree_btn label {
    padding: 5px 0 25px 35px;
    display: block;
    position: relative;
    cursor: pointer;
}
.cts_biz05 .join_group .agree_btn label::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20ZM10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM9.0026 14L4.75999 9.7574L6.17421 8.3431L9.0026 11.1716L14.6595 5.51472L16.0737 6.92893L9.0026 14Z' fill='%23A7141E'/%3E%3C/svg%3E ");
}
/* html에서 미리 체크되어있게 (라디오 등에서 체크드를 주는경우)
css에서는 input:checked 표시 [checked]로 잡지말것 */
.cts_biz05 .join_group .agree_btn input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11.0026 16L18.0737 8.92893L16.6595 7.51472L11.0026 13.1716L8.17421 10.3431L6.75999 11.7574L11.0026 16Z' fill='%23A7141E'/%3E%3C/svg%3E ");
}
.cts_biz05 .join_group .info .info_box {
    border: 1px solid #A7141E;
    border-radius: 20px;
}
.cts_biz05 .join_group .info .info_box .user_id,
.cts_biz05 .join_group .info .info_box .user_pw,
.cts_biz05 .join_group .info .info_box .user_amil,
.cts_biz05 .join_group .info .info_box .user_gender {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #A7141E;
}
.cts_biz05 .join_group .info .info_box .user_gender {
    border-bottom: 0;
    justify-content: center;
}
.cts_biz05 .join_group .info .info_box .user_id label,
.cts_biz05 .join_group .info .info_box .user_pw label,
.cts_biz05 .join_group .info .info_box .user_amil label {
    width: 60px;
    height: 100%;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
}
.cts_biz05 .join_group .info .info_box .user_id label {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.15847 13.7825C4.44977 12.5754 3.33398 10.5848 3.33398 8.33366C3.33398 4.65176 6.31875 1.66699 10.0007 1.66699C13.6826 1.66699 16.6673 4.65176 16.6673 8.33366C16.6673 10.5848 15.5516 12.5754 13.8428 13.7825L15.5787 17.75C15.6709 17.9608 15.5747 18.2065 15.3639 18.2987C15.3112 18.3217 15.2544 18.3337 15.1969 18.3337H4.80441C4.57429 18.3337 4.38774 18.1471 4.38774 17.917C4.38774 17.8595 4.39963 17.8027 4.42268 17.75L6.15847 13.7825ZM11.7712 13.2053L12.8812 12.4212C14.2015 11.4885 15.0007 9.97966 15.0007 8.33366C15.0007 5.57223 12.7621 3.33366 10.0007 3.33366C7.23923 3.33366 5.00065 5.57223 5.00065 8.33366C5.00065 9.97966 5.79983 11.4885 7.12011 12.4212L8.23014 13.2053L6.71568 16.667H13.2857L11.7712 13.2053ZM6.76608 9.14233L8.3834 8.73799C8.56407 9.46308 9.21965 10.0003 10.0007 10.0003C10.7817 10.0003 11.4372 9.46308 11.6179 8.73799L13.2352 9.14233C12.8738 10.5925 11.5627 11.667 10.0007 11.667C8.43857 11.667 7.12746 10.5925 6.76608 9.14233Z' fill='%23A7141E' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
    background-size: 25PX auto;
}
.cts_biz05 .join_group .info .info_box .user_pw label {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 6.66634H16.6667C17.1269 6.66634 17.5 7.03944 17.5 7.49967V17.4997C17.5 17.9599 17.1269 18.333 16.6667 18.333H3.33333C2.8731 18.333 2.5 17.9599 2.5 17.4997V7.49967C2.5 7.03944 2.8731 6.66634 3.33333 6.66634H5V5.83301C5 3.07158 7.23857 0.833008 10 0.833008C12.7614 0.833008 15 3.07158 15 5.83301V6.66634ZM9.16667 13.11V14.9997H10.8333V13.11C11.3315 12.8218 11.6667 12.2833 11.6667 11.6663C11.6667 10.7458 10.9205 9.99967 10 9.99967C9.0795 9.99967 8.33333 10.7458 8.33333 11.6663C8.33333 12.2833 8.6685 12.8218 9.16667 13.11ZM13.3333 6.66634V5.83301C13.3333 3.99206 11.8409 2.49967 10 2.49967C8.15905 2.49967 6.66667 3.99206 6.66667 5.83301V6.66634H13.3333Z' fill='%23A7141E' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
    background-size: 25PX auto;
}
.cts_biz05 .join_group .info .info_box .user_amil label {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM20 7.23792L12.0718 14.338L4 7.21594V19H20V7.23792ZM4.51146 5L12.0619 11.662L19.501 5H4.51146Z' fill='%23A7141E' fill-opacity='0.2'/%3E%3C/svg%3E ");
    background-size: 25PX auto;
}
.cts_biz05 .join_group .info .info_box .user_id input,
.cts_biz05 .join_group .info .info_box .user_pw input {
    width: calc(100% - 100px);
}
.cts_biz05 .join_group .info .info_box .user_amil input {
    width: calc(100% - 120px);
}
.cts_biz05 .join_group .info .info_box .user_id input,
.cts_biz05 .join_group .info .info_box .user_pw input,
.cts_biz05 .join_group .info .info_box .user_amil input {
    border: 0;
    outline: 0;
}
.cts_biz05 .join_group .info .info_box input[type="text"],
.cts_biz05 .join_group .info .info_box input[type="password"]{
    font-size: 18px;
    color: #b1b1b1;
}
.cts_biz05 .join_group .info .info_box .user_amil select {
    font-size: 18px;
    width: 130px;
    border: 0;
    outline: 0;
}
.cts_biz05 .join_group .info .info_box .user_gender input{
    display: none;
}
.cts_biz05 .join_group .info .info_box .user_gender label {
    width: calc(100% - 40px);
    margin: 0 10px;
    line-height: 35px;
    border: 1px solid rgba(167, 20, 30, 0.2);
    color: #b1b1b1;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer; /*마우스 오버시 포인터손가락*/
}
.cts_biz05 .join_group .info .info_box .user_gender input:checked + label {
    border: 2px solid #A7141E;
    color: #A7141E;
    font-weight: 800;
}
.cts_biz05 .join_group .info input[type="submit"] {
    width: 100%;
    line-height: 40px;
    background-color: #A7141E;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer; /*마우스 오버시 포인터손가락*/
}
.cts_brochure {
    margin: 90px 0 150px 0;
}
.cts_brochure .board_head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 5px solid #F51919;
    padding-bottom: 15px;
}
.cts_brochure .board_head .total_num strong {
    font-weight: 700;
    color: #F51919;
}
.cts_brochure .board_head .search .inner {
    display: flex;
    justify-content: flex-end;
}
.cts_brochure .board_head .search select {
    height: 40px;
    width: 120px;
    padding-left: 10px;
    border: 1px solid #999;
    outline: 0;
    border-radius: 5px;
}
.cts_brochure .board_head .search label {
    display: none;/* 숨김 */
}
.cts_brochure .board_head .search input[type="text"] {
    width: 277px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: 0;
    margin: 0 5px;
    padding: 0 10px;
}
.cts_brochure .board_head .search input[type="submit"] {
    width: 77px;
    height: 40px;
    background-color: #3D3D3D;
    color: #fff;
    border-radius: 5px;
}
@media screen and (max-width:1024px){
    .cts_brochure .board_head {
        display: block;
    }
    .cts_brochure .board_head .search {
        margin-top: 5px;
    }
    .cts_brochure .board_head .search .inner2 {
        display: flex;
        justify-content: flex-end;
    }
    .cts_brochure .board_head .search .inner {
        max-width: 478px;
        width: 100%;
    }
    .cts_brochure .board_head .search input[type="text"] {
        width: calc(100% - 145px);
    }
    .cts_brochure .board_head .search select {
        width: 100px;
        height: 30px;
        width: auto;
        padding-left: 5px;
    }
    .cts_brochure .board_head .search input[type="text"] {
        height: 30px;
        padding: 0 5px;
    }
    .cts_brochure .board_head .search input[type="submit"] {
        width: 50px;
        height: 30px;
    }
}

.cts_brochure .board_paging {
    border-top: 1px solid #ccc;
    padding: 27px 0 0 0;
    display: flex;
    justify-content: center; /* 좌우에 가운데 */
    align-items: center; /* 위아래 가운데 */
}
.cts_brochure .board_paging .btn_prev,
.cts_brochure .board_paging .btn_next {
    width: 45px;
    height: 45px;
    font-size: 0;
    line-height: 0;
    border: 1px solid #666;
    border-radius: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px auto;
}
.cts_brochure .board_paging .btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 17.949'%3E%3Cpath id='arrow_forward_ios_FILL0_wght200_GRAD0_opsz24' d='M278.717-834.359l-1.025-1.025,7.949-7.949-7.949-7.949,1.025-1.025,8.975,8.975Z' transform='translate(287.692 -834.359) rotate(180)' fill='%23666'/%3E%3C/svg%3E%0A");
    margin-right: 10px;
}
.cts_brochure .board_paging .btn_next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 17.949'%3E%3Cpath id='arrow_forward_ios_FILL0_wght200_GRAD0_opsz24' d='M278.717-834.359l-1.025-1.025,7.949-7.949-7.949-7.949,1.025-1.025,8.975,8.975Z' transform='translate(-277.692 852.308)' fill='%23666'/%3E%3C/svg%3E%0A");
    margin-left: 10px;
}
.cts_brochure .board_paging .btn_prev:hover,
.cts_brochure .board_paging .btn_next:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    background-color: #3D3D3D;
}
.cts_brochure .board_paging .btn_prev:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 17.949'%3E%3Cpath id='arrow_forward_ios_FILL0_wght200_GRAD0_opsz24' d='M278.717-834.359l-1.025-1.025,7.949-7.949-7.949-7.949,1.025-1.025,8.975,8.975Z' transform='translate(287.692 -834.359) rotate(180)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.cts_brochure .board_paging .btn_next:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 17.949'%3E%3Cpath id='arrow_forward_ios_FILL0_wght200_GRAD0_opsz24' d='M278.717-834.359l-1.025-1.025,7.949-7.949-7.949-7.949,1.025-1.025,8.975,8.975Z' transform='translate(-277.692 852.308)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.cts_brochure .board_paging .page {
    width: 45px;
    line-height: 45px;
    text-align: center;
    color: #666;
}
.cts_brochure .board_paging .page.on,
.cts_brochure .board_paging .page:hover {
    background-color: #F51919;
    border-radius: 100%;
    color: #fff;
    font-weight: 700;
}
.cts_brochure .board_paging .page:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
@media screen and (max-width:1024px){
    .cts_brochure .board_paging .btn_prev,
    .cts_brochure .board_paging .btn_next {
        width: 30px;
        height: 30px;
    }
    .cts_brochure .board_paging .page {
        width: 30px;
        line-height: 30px;
    }
}
.cts_brochure .board_list {
    margin: 45px 0 0 0;
}
.cts_brochure .board_list ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cts_brochure .board_list ul li {
    width: calc(33.33% - 18.66px);
    margin-bottom: 50px;
}
.cts_brochure .board_list ul li a {
    display: block;
}
.cts_brochure .board_list ul li a .photo {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.cts_brochure .board_list ul li a .photo img {
    width: 100%;
    /* 반응형에서 이미지 태그를 사용해서 이미지를 삽입
    반드시 width가 필요
    감싸는 요소의 넓이에 %로 들어감.. */
    transition: 0.5s;
}
.cts_brochure .board_list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.cts_brochure .board_list ul li a strong {
    font-size: 20px;
    color: #1d1d1d;
    display: block;
    margin: 10px 0;
    /* 한줄제한 */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.cts_brochure .board_list ul li a .group {
    display: flex;
}
.cts_brochure .board_list ul li a .group span {
    color: #666;
    padding-left: 25px;
    position: relative; /* before 기준 */
    margin-right: 30px;
}
.cts_brochure .board_list ul li a .group span::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
}
.cts_brochure .board_list ul li a .group span.count::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 13.101'%3E%3Cpath id='visibility_FILL0_wght200_GRAD0_opsz24' d='M93.082-749.767a3.54,3.54,0,0,0,2.607-1.075,3.563,3.563,0,0,0,1.071-2.611,3.54,3.54,0,0,0-1.075-2.607,3.563,3.563,0,0,0-2.611-1.071,3.54,3.54,0,0,0-2.607,1.075,3.563,3.563,0,0,0-1.071,2.611,3.54,3.54,0,0,0,1.075,2.607A3.563,3.563,0,0,0,93.082-749.767Zm0-.961a2.624,2.624,0,0,1-1.927-.794,2.624,2.624,0,0,1-.794-1.927,2.624,2.624,0,0,1,.794-1.927,2.624,2.624,0,0,1,1.927-.794,2.624,2.624,0,0,1,1.927.794,2.624,2.624,0,0,1,.794,1.927A2.624,2.624,0,0,1,95-751.522,2.624,2.624,0,0,1,93.077-750.729Zm0,3.829a10.587,10.587,0,0,1-5.968-1.782,11,11,0,0,1-4.035-4.768,11.007,11.007,0,0,1,4.032-4.768A10.573,10.573,0,0,1,93.074-760a10.587,10.587,0,0,1,5.968,1.782,11,11,0,0,1,4.035,4.768,11.007,11.007,0,0,1-4.032,4.768A10.573,10.573,0,0,1,93.08-746.9ZM93.077-753.45Zm0,5.543a9.619,9.619,0,0,0,5.228-1.5,9.849,9.849,0,0,0,3.641-4.044,9.849,9.849,0,0,0-3.641-4.044,9.619,9.619,0,0,0-5.228-1.5,9.619,9.619,0,0,0-5.228,1.5,9.849,9.849,0,0,0-3.641,4.044,9.849,9.849,0,0,0,3.641,4.044A9.619,9.619,0,0,0,93.077-747.907Z' transform='translate(-83.077 760)' fill='%23666'/%3E%3C/svg%3E%0A");
    background-size: 20px auto;
}
.cts_brochure .board_list ul li a .group span.date::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.498 13.101'%3E%3Cpath id='calendar_month_FILL0_wght200_GRAD0_opsz24' d='M161.161-836.13a1.124,1.124,0,0,1-.828-.332,1.125,1.125,0,0,1-.332-.829v-9.176a1.124,1.124,0,0,1,.332-.828,1.124,1.124,0,0,1,.828-.332h1.271v-1.6h.774v1.6h5.141v-1.6h.719v1.6h1.271a1.124,1.124,0,0,1,.828.332,1.124,1.124,0,0,1,.332.828v9.176a1.125,1.125,0,0,1-.332.829,1.124,1.124,0,0,1-.828.332Zm0-.719h9.176a.423.423,0,0,0,.3-.138.423.423,0,0,0,.138-.3v-6.3h-10.06v6.3a.423.423,0,0,0,.138.3A.423.423,0,0,0,161.161-836.849Zm-.442-7.462h10.06v-2.156a.423.423,0,0,0-.138-.3.423.423,0,0,0-.3-.138h-9.176a.423.423,0,0,0-.3.138.423.423,0,0,0-.138.3Zm0,0v0Zm5.03,3.261a.531.531,0,0,1-.388-.165.531.531,0,0,1-.165-.388.531.531,0,0,1,.165-.388.531.531,0,0,1,.388-.165.531.531,0,0,1,.388.165.531.531,0,0,1,.165.388.531.531,0,0,1-.165.388A.531.531,0,0,1,165.749-841.05Zm-2.874,0a.531.531,0,0,1-.388-.165.531.531,0,0,1-.165-.388.531.531,0,0,1,.165-.388.531.531,0,0,1,.388-.165.531.531,0,0,1,.388.165.531.531,0,0,1,.165.388.531.531,0,0,1-.165.388A.531.531,0,0,1,162.874-841.05Zm5.749,0a.531.531,0,0,1-.388-.165.531.531,0,0,1-.165-.388.531.531,0,0,1,.165-.388.531.531,0,0,1,.388-.165.531.531,0,0,1,.388.165.531.531,0,0,1,.165.388.531.531,0,0,1-.165.388A.531.531,0,0,1,168.623-841.05Zm-2.874,2.764a.531.531,0,0,1-.388-.165.531.531,0,0,1-.165-.388.531.531,0,0,1,.165-.388.53.53,0,0,1,.388-.165.53.53,0,0,1,.388.165.531.531,0,0,1,.165.388.531.531,0,0,1-.165.388A.531.531,0,0,1,165.749-838.286Zm-2.874,0a.531.531,0,0,1-.388-.165.531.531,0,0,1-.165-.388.531.531,0,0,1,.165-.388.53.53,0,0,1,.388-.165.53.53,0,0,1,.388.165.531.531,0,0,1,.165.388.531.531,0,0,1-.165.388A.531.531,0,0,1,162.874-838.286Zm5.749,0a.531.531,0,0,1-.388-.165.531.531,0,0,1-.165-.388.531.531,0,0,1,.165-.388.53.53,0,0,1,.388-.165.53.53,0,0,1,.388.165.531.531,0,0,1,.165.388.531.531,0,0,1-.165.388A.531.531,0,0,1,168.623-838.286Z' transform='translate(-160 849.231)' fill='%23666'/%3E%3C/svg%3E%0A");
    background-size: 13px auto;
}
@media screen and (max-width:1024px){
    .cts_brochure .board_list ul li {
        width: calc(50% - 10px);
    }
    .cts_brochure .board_list ul li a strong {
        font-size: 17px;
    }
}
@media screen and (max-width:500px){
    .cts_brochure .board_list ul li {
        width: 100%;
    }
    .cts_brochure .board_list ul li a strong {
        font-size: 15px;
    }
}

.cts_brochure_view {
    margin: 100px 0;
}
.cts_brochure_view .view .view_head {
    border-top: 4px solid #F51919;
}
.cts_brochure_view .view .view_head h2 {
    font-size: 35px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 18px 0 10px 0;
}
.cts_brochure_view .view .view_head .info {
    background-color: #f4f4f4;
    padding: 15px 30px;
    display: flex;
    justify-content: flex-end;
}
.cts_brochure_view .view .view_head .info span {
    color: #666;
    padding-left: 25px;
    position: relative; /* before 정렬의 기준 */
    margin-left: 30px;
}
.cts_brochure_view .view .view_head .info span::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
}
.cts_brochure_view .view .view_head .info span.writer::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.862 13.1'%3E%3Cpath id='person_FILL0_wght200_GRAD0_opsz24' d='M206.931-738.675a2.861,2.861,0,0,1-2.1-.873,2.861,2.861,0,0,1-.873-2.1,2.86,2.86,0,0,1,.873-2.1,2.861,2.861,0,0,1,2.1-.873,2.861,2.861,0,0,1,2.1.873,2.86,2.86,0,0,1,.873,2.1,2.861,2.861,0,0,1-.873,2.1A2.861,2.861,0,0,1,206.931-738.675ZM200-731.516v-1.63a2.026,2.026,0,0,1,.357-1.147,2.4,2.4,0,0,1,.961-.829,14.038,14.038,0,0,1,2.8-1.008,12.024,12.024,0,0,1,2.809-.336,12.024,12.024,0,0,1,2.809.336,14.038,14.038,0,0,1,2.8,1.008,2.4,2.4,0,0,1,.961.829,2.026,2.026,0,0,1,.357,1.147v1.63Zm.99-.99h11.882v-.64a1.027,1.027,0,0,0-.212-.619,1.708,1.708,0,0,0-.587-.489,12.567,12.567,0,0,0-2.521-.907,11.071,11.071,0,0,0-2.62-.315,11.071,11.071,0,0,0-2.62.315,12.567,12.567,0,0,0-2.521.907,1.708,1.708,0,0,0-.587.489,1.027,1.027,0,0,0-.212.619Zm5.941-7.159a1.907,1.907,0,0,0,1.4-.582,1.907,1.907,0,0,0,.582-1.4,1.907,1.907,0,0,0-.582-1.4,1.907,1.907,0,0,0-1.4-.582,1.907,1.907,0,0,0-1.4.582,1.907,1.907,0,0,0-.582,1.4,1.907,1.907,0,0,0,.582,1.4A1.907,1.907,0,0,0,206.931-739.665ZM206.931-741.646ZM206.931-732.506Z' transform='translate(-200 744.616)' fill='%23666'/%3E%3C/svg%3E%0A");
    background-size: 15px auto;
}
.cts_brochure_view .view .view_head .info span.count::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 13.101'%3E%3Cpath id='visibility_FILL0_wght200_GRAD0_opsz24' d='M93.082-749.767a3.54,3.54,0,0,0,2.607-1.075,3.563,3.563,0,0,0,1.071-2.611,3.54,3.54,0,0,0-1.075-2.607,3.563,3.563,0,0,0-2.611-1.071,3.54,3.54,0,0,0-2.607,1.075,3.563,3.563,0,0,0-1.071,2.611,3.54,3.54,0,0,0,1.075,2.607A3.563,3.563,0,0,0,93.082-749.767Zm0-.961a2.624,2.624,0,0,1-1.927-.794,2.624,2.624,0,0,1-.794-1.927,2.624,2.624,0,0,1,.794-1.927,2.624,2.624,0,0,1,1.927-.794,2.624,2.624,0,0,1,1.927.794,2.624,2.624,0,0,1,.794,1.927A2.624,2.624,0,0,1,95-751.522,2.624,2.624,0,0,1,93.077-750.729Zm0,3.829a10.587,10.587,0,0,1-5.968-1.782,11,11,0,0,1-4.035-4.768,11.007,11.007,0,0,1,4.032-4.768A10.573,10.573,0,0,1,93.074-760a10.587,10.587,0,0,1,5.968,1.782,11,11,0,0,1,4.035,4.768,11.007,11.007,0,0,1-4.032,4.768A10.573,10.573,0,0,1,93.08-746.9ZM93.077-753.45Zm0,5.543a9.619,9.619,0,0,0,5.228-1.5,9.849,9.849,0,0,0,3.641-4.044,9.849,9.849,0,0,0-3.641-4.044,9.619,9.619,0,0,0-5.228-1.5,9.619,9.619,0,0,0-5.228,1.5,9.849,9.849,0,0,0-3.641,4.044,9.849,9.849,0,0,0,3.641,4.044A9.619,9.619,0,0,0,93.077-747.907Z' transform='translate(-83.077 760)' fill='%23666'/%3E%3C/svg%3E%0A");
    background-size: 20px auto;
}
.cts_brochure_view .view .view_head .info span.date::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.498 13.101'%3E%3Cpath id='calendar_month_FILL0_wght200_GRAD0_opsz24' d='M161.161-836.13a1.124,1.124,0,0,1-.828-.332,1.125,1.125,0,0,1-.332-.829v-9.176a1.124,1.124,0,0,1,.332-.828,1.124,1.124,0,0,1,.828-.332h1.271v-1.6h.774v1.6h5.141v-1.6h.719v1.6h1.271a1.124,1.124,0,0,1,.828.332,1.124,1.124,0,0,1,.332.828v9.176a1.125,1.125,0,0,1-.332.829,1.124,1.124,0,0,1-.828.332Zm0-.719h9.176a.423.423,0,0,0,.3-.138.423.423,0,0,0,.138-.3v-6.3h-10.06v6.3a.423.423,0,0,0,.138.3A.423.423,0,0,0,161.161-836.849Zm-.442-7.462h10.06v-2.156a.423.423,0,0,0-.138-.3.423.423,0,0,0-.3-.138h-9.176a.423.423,0,0,0-.3.138.423.423,0,0,0-.138.3Zm0,0v0Zm5.03,3.261a.531.531,0,0,1-.388-.165.531.531,0,0,1-.165-.388.531.531,0,0,1,.165-.388.531.531,0,0,1,.388-.165.531.531,0,0,1,.388.165.531.531,0,0,1,.165.388.531.531,0,0,1-.165.388A.531.531,0,0,1,165.749-841.05Zm-2.874,0a.531.531,0,0,1-.388-.165.531.531,0,0,1-.165-.388.531.531,0,0,1,.165-.388.531.531,0,0,1,.388-.165.531.531,0,0,1,.388.165.531.531,0,0,1,.165.388.531.531,0,0,1-.165.388A.531.531,0,0,1,162.874-841.05Zm5.749,0a.531.531,0,0,1-.388-.165.531.531,0,0,1-.165-.388.531.531,0,0,1,.165-.388.531.531,0,0,1,.388-.165.531.531,0,0,1,.388.165.531.531,0,0,1,.165.388.531.531,0,0,1-.165.388A.531.531,0,0,1,168.623-841.05Zm-2.874,2.764a.531.531,0,0,1-.388-.165.531.531,0,0,1-.165-.388.531.531,0,0,1,.165-.388.53.53,0,0,1,.388-.165.53.53,0,0,1,.388.165.531.531,0,0,1,.165.388.531.531,0,0,1-.165.388A.531.531,0,0,1,165.749-838.286Zm-2.874,0a.531.531,0,0,1-.388-.165.531.531,0,0,1-.165-.388.531.531,0,0,1,.165-.388.53.53,0,0,1,.388-.165.53.53,0,0,1,.388.165.531.531,0,0,1,.165.388.531.531,0,0,1-.165.388A.531.531,0,0,1,162.874-838.286Zm5.749,0a.531.531,0,0,1-.388-.165.531.531,0,0,1-.165-.388.531.531,0,0,1,.165-.388.53.53,0,0,1,.388-.165.53.53,0,0,1,.388.165.531.531,0,0,1,.165.388.531.531,0,0,1-.165.388A.531.531,0,0,1,168.623-838.286Z' transform='translate(-160 849.231)' fill='%23666'/%3E%3C/svg%3E%0A");
    background-size: 13px auto;
}
.cts_brochure_view .view .view_cnt {
    margin: 50px 0;
}
.cts_brochure_view .view .view_cnt .video {
    margin: 0 0 60px 0;
    position: relative; /* iframe 정렬의 기준*/
    overflow: hidden;
    padding: 28% 0;
}
.cts_brochure_view .view .view_cnt .video iframe,
.cts_brochure_view .view .view_cnt .video object,
.cts_brochure_view .view .view_cnt .video embed {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.cts_brochure_view .view .view_foot {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.cts_brochure_view .view .view_foot .btn_list {
    width: 88px;
    line-height: 40px;
    background-color: #3D3D3D;
    color: #fff;
    border-radius: 5px;
    display: block;
    padding-left: 42px;
    position: relative; /* before 정렬기준 */
}
.cts_brochure_view .view .view_foot .btn_list::before {
    position: absolute;
    left: 15px;
    top: 14px;
    width: 19px;
    height: 10px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.434 9.217'%3E%3Cpath id='list_FILL0_wght200_GRAD0_opsz24' d='M164.21-638.715v-1.152h14.224v1.152Zm0,3.9v-1.152h14.224v1.152Zm0,3.9v-1.152h14.224v1.152Zm-3.5-7.666a.676.676,0,0,1-.505-.21.719.719,0,0,1-.2-.521.654.654,0,0,1,.2-.489.7.7,0,0,1,.505-.2.7.7,0,0,1,.505.2.654.654,0,0,1,.2.489.719.719,0,0,1-.2.521A.676.676,0,0,1,160.709-638.582Zm0,3.877a.7.7,0,0,1-.505-.2.654.654,0,0,1-.2-.489.709.709,0,0,1,.2-.533.7.7,0,0,1,.505-.2.7.7,0,0,1,.505.2.709.709,0,0,1,.2.533.654.654,0,0,1-.2.489A.7.7,0,0,1,160.709-634.7Zm0,3.922a.676.676,0,0,1-.505-.21.719.719,0,0,1-.2-.521.654.654,0,0,1,.2-.489.7.7,0,0,1,.505-.2.7.7,0,0,1,.505.2.654.654,0,0,1,.2.489.719.719,0,0,1-.2.521A.676.676,0,0,1,160.709-630.783Z' transform='translate(-160 640)' fill='%23fff'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1024px){
    .cts_brochure_view .view .view_head h2 {
        font-size: 30px;
    }
}
@media screen and (max-width:1024px){
    .cts_brochure_view .view .view_head h2 {
        font-size: 25px;
    }
}

@media screen and (max-width:500px){
    .cts_brochure_view .view .view_head h2 {
        font-size: 20px;
    }
    .cts_brochure_view .view .view_head .info {
        justify-content: space-around;
    }
    .cts_brochure_view .view .view_head .info span {
        padding: 25px 0 0 0;
        margin-left: 0;
    }
    .cts_brochure_view .view .view_head .info span::before {
        left: 0;
        top: 0;
        width: 100%;
        height: 15px;
    }
}

/*찾아오시는 길*/
.cts_location {
    margin: 80px 0;
}
.cts_location h2 {
    font-size: 40px;
    font-weight: 800;
}
.cts_location .map {
    width: 100%;
    margin: 30px 0 80px 0;
}
.cts_location .flex {
    display: flex;
}
.cts_location .add {
    width: 50%;
}
.cts_location .add span {
    font-size: 1.471rem;
    font-weight: 600;
    margin-bottom: 20px;
} 
.cts_location .add em {
    font-size: 1.176rem;
}
.cts_location .bus {
    width: 50%;
}
.cts_location .bus span {
    font-size: 1.471rem;
    font-weight: 600;
    margin-bottom: 20px;
} 
.cts_location .bus em {
    font-size: 1.176rem;
}
.cts_location .care {
    margin: 30px 0;
}
.cts_location .care span {
    font-size:1.176rem ;
    color: #666;
}
.cts_location a {
    position: relative;
    border: 1px solid #A7141E;
    border-radius: 50px;
    background-color: #A7141E;
    padding: 7px 40px 7px 15px;
    color: #fff;
}
.cts_location a::after {
    right: 11px;
    top: 6px;
    width: 20px;
    height: 20px;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.16667 17.5C3.70833 17.5 3.31597 17.3368 2.98958 17.0104C2.66319 16.684 2.5 16.2917 2.5 15.8333V4.16667C2.5 3.70833 2.66319 3.31597 2.98958 2.98958C3.31597 2.66319 3.70833 2.5 4.16667 2.5H9.16667C9.40278 2.5 9.60069 2.57986 9.76042 2.73958C9.92014 2.89931 10 3.09722 10 3.33333C10 3.56944 9.92014 3.76736 9.76042 3.92708C9.60069 4.08681 9.40278 4.16667 9.16667 4.16667H4.16667V15.8333H15.8333V10.8333C15.8333 10.5972 15.9132 10.3993 16.0729 10.2396C16.2326 10.0799 16.4306 10 16.6667 10C16.9028 10 17.1007 10.0799 17.2604 10.2396C17.4201 10.3993 17.5 10.5972 17.5 10.8333V15.8333C17.5 16.2917 17.3368 16.684 17.0104 17.0104C16.684 17.3368 16.2917 17.5 15.8333 17.5H4.16667ZM15.8333 5.33333L8.66667 12.5C8.51389 12.6528 8.31944 12.7292 8.08333 12.7292C7.84722 12.7292 7.65278 12.6528 7.5 12.5C7.34722 12.3472 7.27083 12.1528 7.27083 11.9167C7.27083 11.6806 7.34722 11.4861 7.5 11.3333L14.6667 4.16667H12.5C12.2639 4.16667 12.066 4.08681 11.9062 3.92708C11.7465 3.76736 11.6667 3.56944 11.6667 3.33333C11.6667 3.09722 11.7465 2.89931 11.9062 2.73958C12.066 2.57986 12.2639 2.5 12.5 2.5H17.5V7.5C17.5 7.73611 17.4201 7.93403 17.2604 8.09375C17.1007 8.25347 16.9028 8.33333 16.6667 8.33333C16.4306 8.33333 16.2326 8.25347 16.0729 8.09375C15.9132 7.93403 15.8333 7.73611 15.8333 7.5V5.33333Z' fill='white'/%3E%3C/svg%3E%0A");
 }

 @media screen and (max-width:1024px){
    .cts_location {
        margin: 40px 0;
    }
    .cts_location h2 {
        font-size: 2.188rem;
    }
    .cts_location .map {
        margin: 20px 0 60px 0;
    }
    .cts_location .flex {
        justify-content: space-between;
    }
    .cts_location .add {
        width: 45%;
    }
    .cts_location .add span {
        font-size: 1.400rem;
    } 
    .cts_location .add em {
        font-size: 1.100rem;
    }
    .cts_location .bus {
        width: 45%;
    }
    .cts_location .bus span {
        font-size: 1.400rem;
    } 
    .cts_location .bus em {
        font-size: 1.100rem;
    }
    .cts_location .care {
        margin: 20px 0;
    }
    .cts_location .care span {
        font-size:1.100rem ;
    }
    .cts_location a {
        text-wrap: nowrap;
        top: 15px;
    }
    .cts_location a::after {
        right: 15px;
        top: 7px;
    }
 }
 @media screen and (max-width:500px){
    .cts_location .add {
        width: 50%;
    }
    .cts_location .add span {
        font-size: 1.400rem;
    } 
    .cts_location .add em {
        font-size: 1.100rem;
    }
    .cts_location .bus span {
        font-size: 1.400rem;
    } 
    .cts_location .bus em {
        font-size: 1.100rem;
    }
    .cts_location .care {
        margin: 20px 0;
    }
    .cts_location .care span {
        font-size:1.100rem ;
    }
    .cts_location a {
        text-wrap: nowrap;
        top: 15px;
    }
    .cts_location a::after {
        right: 15px;
        top: 7px;
    }
 }