/* 🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍
   파일명 : layout.css
   작성자 : ByeonRoa
   수정자 : 
   작성일 : 2021-02-28
   수정일 :
   설  명 : 모든 페이지의 레이아웃 요소
            (HEADER, FOOTER/SUB_LAYOUT)
            (메뉴명, sub_visual 이미지 스타일, 탭메뉴)
🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍*/
.header {
   position: fixed;
   left: 0;
   top: 0;
   z-index: 100;
   width: 100%;
   height: 100px;
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.header .logo {
   margin: 10px 0 0 250px;
}
.header .logo a {
   display: block;
   width: 160px;
   height: 60px;
   font-size: 0;
   line-height: 0;
   background: url(../images/common/logo_w.svg) no-repeat center center /contain;
}
.header .gnb .gnb_open,
.header .gnb .gnb_close {
   display: none; /*모바일에선 나옴*/
}
.header .gnb ul.depth1 {
   display: flex;
}
.header .gnb ul.depth1 > li {
   width: 140px;
   text-align: center;
}
.header .gnb ul.depth1 > li > a {
   font-size: 20px;
   font-weight: 700;
   line-height: 100px;
   display: block;
}
.header .gnb ul.depth2 {
   display: none; /*메뉴에 오버하면 나옴*/
}
.header .gnb ul.depth2 > li > a {
   line-height: 40px;
   display: block;
   font-size: 15px;
}
.header .tnb {
   display: flex;
   align-items: flex-start;
   font-size: 18px;
}
.header .tnb .lang {
   padding-left: 23px;
   position: relative; 
   margin: 40px 20px 0 0;
}
.header .tnb .lang::before {
   position: absolute;
   left: 0;
   top: 2px;
   width: 20px;
   height: 20px;
   content: "";
   background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99965 17.9165C8.91418 17.9165 7.88988 17.7085 6.92676 17.2923C5.96362 16.8762 5.12361 16.3097 4.40672 15.5928C3.68984 14.8759 3.12334 14.0359 2.70722 13.0728C2.29108 12.1097 2.08301 11.0854 2.08301 9.9999C2.08301 8.90589 2.29108 7.87945 2.70722 6.92059C3.12334 5.96172 3.68984 5.12385 4.40672 4.40696C5.12361 3.69009 5.96362 3.12359 6.92676 2.70746C7.88988 2.29132 8.91418 2.08325 9.99965 2.08325C11.0937 2.08325 12.1201 2.29132 13.079 2.70746C14.0378 3.12359 14.8757 3.69009 15.5926 4.40696C16.3095 5.12385 16.876 5.96172 17.2921 6.92059C17.7082 7.87945 17.9163 8.90589 17.9163 9.9999C17.9163 11.0854 17.7082 12.1097 17.2921 13.0728C16.876 14.0359 16.3095 14.8759 15.5926 15.5928C14.8757 16.3097 14.0378 16.8762 13.079 17.2923C12.1201 17.7085 11.0937 17.9165 9.99965 17.9165ZM9.99965 16.6489C10.4249 16.0848 10.7828 15.5159 11.0734 14.9422C11.364 14.3685 11.6006 13.7413 11.7833 13.0608H8.21599C8.40936 13.7627 8.64868 14.4005 8.93395 14.9743C9.2192 15.548 9.57443 16.1062 9.99965 16.6489ZM8.3859 16.4198C8.06646 15.9614 7.7796 15.4403 7.52532 14.8565C7.27104 14.2726 7.07339 13.674 6.93236 13.0608H4.1054C4.54558 13.9262 5.13587 14.6532 5.87626 15.2419C6.61666 15.8306 7.45321 16.2232 8.3859 16.4198ZM11.6134 16.4198C12.5461 16.2232 13.3826 15.8306 14.1231 15.2419C14.8634 14.6532 15.4537 13.9262 15.8939 13.0608H13.0669C12.8992 13.6794 12.6882 14.2806 12.4339 14.8645C12.1796 15.4484 11.9061 15.9668 11.6134 16.4198ZM3.58138 11.8108H6.67915C6.62681 11.501 6.58888 11.1973 6.56538 10.8998C6.54188 10.6022 6.53013 10.3022 6.53013 9.9999C6.53013 9.69755 6.54188 9.3976 6.56538 9.10005C6.58888 8.8025 6.62681 8.49882 6.67915 8.18898H3.58138C3.50126 8.47211 3.43983 8.76645 3.39709 9.072C3.35436 9.37756 3.33299 9.68686 3.33299 9.9999C3.33299 10.3129 3.35436 10.6222 3.39709 10.9278C3.43983 11.2334 3.50126 11.5277 3.58138 11.8108ZM7.92913 11.8108H12.0702C12.1225 11.501 12.1605 11.2 12.184 10.9078C12.2075 10.6156 12.2192 10.3129 12.2192 9.9999C12.2192 9.68686 12.2075 9.38424 12.184 9.09204C12.1605 8.79984 12.1225 8.49882 12.0702 8.18898H7.92913C7.87679 8.49882 7.83886 8.79984 7.81534 9.09204C7.79184 9.38424 7.78009 9.68686 7.78009 9.9999C7.78009 10.3129 7.79184 10.6156 7.81534 10.9078C7.83886 11.2 7.87679 11.501 7.92913 11.8108ZM13.3202 11.8108H16.4179C16.4981 11.5277 16.5595 11.2334 16.6022 10.9278C16.645 10.6222 16.6663 10.3129 16.6663 9.9999C16.6663 9.68686 16.645 9.37756 16.6022 9.072C16.5595 8.76645 16.4981 8.47211 16.4179 8.18898H13.3202C13.3725 8.49882 13.4104 8.8025 13.4339 9.10005C13.4574 9.3976 13.4692 9.69755 13.4692 9.9999C13.4692 10.3022 13.4574 10.6022 13.4339 10.8998C13.4104 11.1973 13.3725 11.501 13.3202 11.8108ZM13.0669 6.93902H15.8939C15.4484 6.06294 14.8621 5.3359 14.1351 4.7579C13.408 4.17991 12.5675 3.78461 11.6134 3.572C11.9328 4.05704 12.217 4.5875 12.466 5.16336C12.7149 5.73922 12.9152 6.33111 13.0669 6.93902ZM8.21599 6.93902H11.7833C11.5899 6.24244 11.3466 5.60061 11.0533 5.01352C10.7601 4.42645 10.4088 3.87223 9.99965 3.35086C9.59046 3.87223 9.23923 4.42645 8.94597 5.01352C8.65269 5.60061 8.40936 6.24244 8.21599 6.93902ZM4.1054 6.93902H6.93236C7.08407 6.33111 7.2844 5.73922 7.53334 5.16336C7.78227 4.5875 8.06646 4.05704 8.3859 3.572C7.4265 3.78461 6.58461 4.18125 5.86024 4.76192C5.13588 5.34259 4.55093 6.06829 4.1054 6.93902Z' fill='white'/%3E%3C/svg%3E%0A");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
.header .tnb .link {
   width: 118px;
   height: 37px;
   background-color: #A7141E;
   border-radius: 30px;
   margin: 32px 250px 0 0;
   text-align: left;
   padding: 7px 0 0 15px;
   position: relative;
} 
.header .tnb .link::before {
   position: absolute;
   left: 82px;
   top: 7px;
   width: 20px;
   height: 20px;
   content: "";
   background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.16667 17.5C3.70833 17.5 3.31597 17.3368 2.98958 17.0104C2.66319 16.684 2.5 16.2917 2.5 15.8333V4.16667C2.5 3.70833 2.66319 3.31597 2.98958 2.98958C3.31597 2.66319 3.70833 2.5 4.16667 2.5H9.16667C9.40278 2.5 9.60069 2.57986 9.76042 2.73958C9.92014 2.89931 10 3.09722 10 3.33333C10 3.56944 9.92014 3.76736 9.76042 3.92708C9.60069 4.08681 9.40278 4.16667 9.16667 4.16667H4.16667V15.8333H15.8333V10.8333C15.8333 10.5972 15.9132 10.3993 16.0729 10.2396C16.2326 10.0799 16.4306 10 16.6667 10C16.9028 10 17.1007 10.0799 17.2604 10.2396C17.4201 10.3993 17.5 10.5972 17.5 10.8333V15.8333C17.5 16.2917 17.3368 16.684 17.0104 17.0104C16.684 17.3368 16.2917 17.5 15.8333 17.5H4.16667ZM15.8333 5.33333L8.66667 12.5C8.51389 12.6528 8.31944 12.7292 8.08333 12.7292C7.84722 12.7292 7.65278 12.6528 7.5 12.5C7.34722 12.3472 7.27083 12.1528 7.27083 11.9167C7.27083 11.6806 7.34722 11.4861 7.5 11.3333L14.6667 4.16667H12.5C12.2639 4.16667 12.066 4.08681 11.9063 3.92708C11.7465 3.76736 11.6667 3.56944 11.6667 3.33333C11.6667 3.09722 11.7465 2.89931 11.9063 2.73958C12.066 2.57986 12.2639 2.5 12.5 2.5H17.5V7.5C17.5 7.73611 17.4201 7.93403 17.2604 8.09375C17.1007 8.25347 16.9028 8.33333 16.6667 8.33333C16.4306 8.33333 16.2326 8.25347 16.0729 8.09375C15.9132 7.93403 15.8333 7.73611 15.8333 7.5V5.33333Z' fill='white'/%3E%3C/svg%3E ");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
/*메뉴에 오버했을때 --- START *******************************/
@media screen and (min-width:1025px){
   .header.menu_over {
      color: #fff;
   }
   .header.menu_over .gnb ul.depth2 {
      display: block; /*2차메뉴보임*/
      font-size: 17px;
      height: 540px;
      padding-top: 20px;
   }
   .header .gnb ul.depth1 > li > a:hover,
   .header .gnb ul.depth1 > li.on > a {
      color: #A7141E;
      font-weight: 900;
   }
   .header.menu_over::before {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; /*나의기준점 안에서 맨아래*/
      width: 100%;
      height: 540px;
      background-color: #000;
      content: "";
      /* box_shadow: 0(좌우) 10px(상하) 10px(블러값) rgba(0,0,0,0.1); */
   }
   .header .gnb ul.depth2 > li > a:hover,
   .header .gnb ul.depth2 > li.on > a {
      color: #A7141E;
      font-weight: 800;
   }
   .header.menu_over::after {
      position: absolute;
      left: 0;
      top: 100px;
      width: 100%;
      height: 1px;
      background-color: #A7141E;
      content: "";
   }
}
/*메뉴에 오버했을때 --- END *******************************/

/*메뉴가 상단에 고정되었을떄--- START *******************************/
.header.fixed {
   color: #fff;
   background-color: #000;
}
/*메뉴가 상단에 고정되었을떄--- END *******************************/

@media screen and (max-width:1320px){
   .header .logo {
      margin: 10px 0 0 100px;
   }
   .header .logo a {
      width: 140px;
  }
   .header .gnb ul.depth1 > li {
      width: 110px;
   }
   .header .gnb ul.depth1 > li > a {
      font-size: 20px;
   }
   .header .tnb .link {
      margin: 32px 100px 0 0;
   }
   .header.menu_over .gnb ul.depth2 {
      font-size: 16px;
      padding-top: 15px;
   }
}
@media screen and (max-width:1024px){ /*메뉴접힘*/
   .header .logo {
      margin: 10px 0 0 30px;
   }
   .header .gnb .gnb_wrap {
      display: none;/*메뉴숨김*/
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: #000;
      color: #fff;
   }
   .header.menu_open .gnb .gnb_wrap {
      display: block;/*메뉴보임*/
   }
   .header .gnb .gnb_open,
   .header .gnb .gnb_close {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 60px;
      height: 100%;
      font-size: 0;
      line-height: 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50px auto;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.3125 22.0433C5.04688 22.0433 4.82422 21.9534 4.64453 21.7736C4.46484 21.5939 4.375 21.3711 4.375 21.1054C4.375 20.8396 4.46484 20.617 4.64453 20.4375C4.82422 20.2581 5.04688 20.1683 5.3125 20.1683H24.6874C24.9531 20.1683 25.1757 20.2582 25.3554 20.438C25.5351 20.6177 25.6249 20.8405 25.6249 21.1062C25.6249 21.372 25.5351 21.5946 25.3554 21.774C25.1757 21.9535 24.9531 22.0433 24.6874 22.0433H5.3125ZM5.3125 15.9375C5.04688 15.9375 4.82422 15.8476 4.64453 15.6679C4.46484 15.4881 4.375 15.2654 4.375 14.9996C4.375 14.7339 4.46484 14.5113 4.64453 14.3318C4.82422 14.1523 5.04688 14.0626 5.3125 14.0626C5.57813 14.0626 24.6874 14.0626 24.6874 14.0626C24.9531 14.0626 25.1757 14.1524 25.3554 14.3322C25.5351 14.512 25.6249 14.7347 25.6249 15.0004C25.6249 15.2662 25.5351 15.4888 25.3554 15.6683C25.1757 15.8478 24.9531 15.9375 24.6874 15.9375H5.3125ZM5.3125 9.83175C5.04688 9.83175 4.82422 9.74187 4.64453 9.5621C4.46484 9.38235 4.375 9.1596 4.375 8.89385C4.375 8.62812 4.46484 8.40552 4.64453 8.22604C4.82422 8.04654 5.04688 7.95679 5.3125 7.95679H24.6874C24.9531 7.95679 25.1757 8.04667 25.3554 8.22644C25.5351 8.40621 25.6249 8.62896 25.6249 8.89469C25.6249 9.16044 25.5351 9.38306 25.3554 9.56254C25.1757 9.74202 24.9531 9.83175 24.6874 9.83175H5.3125Z' fill='%23A7141E'/%3E%3C/svg%3E ");
   }
   .header .gnb .gnb_close {
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9996 16.3174L8.65824 22.6587C8.48518 22.8318 8.26764 22.9204 8.00562 22.9244C7.74362 22.9284 7.52208 22.8398 7.34099 22.6587C7.15989 22.4776 7.06934 22.2581 7.06934 22.0001C7.06934 21.7421 7.15989 21.5226 7.34099 21.3415L13.6823 15.0001L7.34099 8.65873C7.16791 8.48567 7.07937 8.26813 7.07537 8.00611C7.07135 7.74411 7.15989 7.52256 7.34099 7.34148C7.52208 7.16038 7.74162 7.06982 7.99962 7.06982C8.25762 7.06982 8.47716 7.16038 8.65824 7.34148L14.9996 13.6828L21.341 7.34148C21.5141 7.1684 21.7316 7.07986 21.9936 7.07586C22.2556 7.07183 22.4772 7.16038 22.6582 7.34148C22.8393 7.52256 22.9299 7.7421 22.9299 8.0001C22.9299 8.2581 22.8393 8.47765 22.6582 8.65873L16.3169 15.0001L22.6582 21.3415C22.8313 21.5145 22.9199 21.7321 22.9239 21.9941C22.9279 22.2561 22.8393 22.4776 22.6582 22.6587C22.4772 22.8398 22.2576 22.9304 21.9996 22.9304C21.7416 22.9304 21.5221 22.8398 21.341 22.6587L14.9996 16.3174Z' fill='%23A7141E'/%3E%3C/svg%3E ");
      display: none;
   }
   .header.menu_open  .gnb .gnb_open {
      display: none;
   }
   .header.menu_open  .gnb .gnb_close {
      display: block;
   }
   .header .gnb ul.depth1 {
      display: block;
      margin-top: 100px;
      height: calc(100vh - 100px);
      overflow-y: auto;
   }
   .header .gnb ul.depth1 > li {
      width: auto;
      text-align: left;
   }
   .header .gnb ul.depth1 > li > a {
      font-size: 20px;
      line-height: 50px;
      font-weight: 400;
      padding:  0 30px;
      position: relative;
   }
   .header .gnb ul.depth1 > li > a::after {
      position: absolute;
      left: auto;
      top: 12px;
      width: 25px;
      height: 25px;
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9998 14.9499C11.8665 14.9499 11.7415 14.9291 11.6248 14.8874C11.5081 14.8457 11.3998 14.7749 11.2998 14.6749L6.6998 10.0749C6.51647 9.89157 6.4248 9.65824 6.4248 9.3749C6.4248 9.09157 6.51647 8.85824 6.6998 8.6749C6.88314 8.49157 7.11647 8.3999 7.3998 8.3999C7.68314 8.3999 7.91647 8.49157 8.0998 8.6749L11.9998 12.5749L15.8998 8.6749C16.0831 8.49157 16.3165 8.3999 16.5998 8.3999C16.8831 8.3999 17.1165 8.49157 17.2998 8.6749C17.4831 8.85824 17.5748 9.09157 17.5748 9.3749C17.5748 9.65824 17.4831 9.89157 17.2998 10.0749L12.6998 14.6749C12.5998 14.7749 12.4915 14.8457 12.3748 14.8874C12.2581 14.9291 12.1331 14.9499 11.9998 14.9499Z' fill='white'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
   }
   .header .gnb ul.depth1 > li.on > a::after  {
      width: 25px;
      height: 25px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9998 10.7749L8.0998 14.6749C7.91647 14.8582 7.68314 14.9499 7.3998 14.9499C7.11647 14.9499 6.88314 14.8582 6.6998 14.6749C6.51647 14.4916 6.4248 14.2582 6.4248 13.9749C6.4248 13.6916 6.51647 13.4582 6.6998 13.2749L11.2998 8.6749C11.3998 8.5749 11.5081 8.50407 11.6248 8.4624C11.7415 8.42074 11.8665 8.3999 11.9998 8.3999C12.1331 8.3999 12.2581 8.42074 12.3748 8.4624C12.4915 8.50407 12.5998 8.5749 12.6998 8.6749L17.2998 13.2749C17.4831 13.4582 17.5748 13.6916 17.5748 13.9749C17.5748 14.2582 17.4831 14.4916 17.2998 14.6749C17.1165 14.8582 16.8831 14.9499 16.5998 14.9499C16.3165 14.9499 16.0831 14.8582 15.8998 14.6749L11.9998 10.7749Z' fill='%23A7141E'/%3E%3C/svg%3E ");
   }
   .header .gnb ul.depth1 > li.on > ul.depth2 {
      display: block;
   }
   .header .gnb ul.depth2 > li > a {
      line-height: 40px;
      text-align: left;
      padding: 0 0 0 30px;
   }
   .header .gnb ul.depth1 > li.on > a {
      color: #A7141E;
      font-weight: 800;
   }
   .header .tnb {
      display: none;
   }
   .header.menu_open .tnb {
      display: block;
      position: absolute;
      left: 30px;
      top: 30px;
      color: #fff;
   }
   .header.menu_open .tnb .link {
      padding: 5PX 50PX 5PX 20PX;
   } 
   .header.manu_open .tnb .link::before {
      position: absolute;
      left: 85px;
      top: 6px;
   }
}
@media screen and (max-width:768px){
   .header {
      height: 60px;
   }
   .header .logo {
      margin: -5px 0 0 30px;
   }
   .header .logo a {
      width: 90px;
   }
   .header .gnb .gnb_open {
      margin-right: 15px;
   }
   .header.menu_open .gnb .gnb_close {
      margin: 15px;
   }
}
@media screen and (max-width:500px){
   .header.menu_open .gnb .gnb_close {
      margin: 10px;
   }
}

.footer {
   background-color: #000;
   color: #fff;
   padding: 60px 320px;
}
.footer .wrapper {
   position: relative;
}
.footer .family_site {
   font-size: 17px;
   position: absolute;
   right: 0;
   top: 0;
}
.footer .family_site ul {
   display: none;
   position: absolute;
   left: 0;
   bottom: 42px;
   width: 100%;
   background-color: #A7141E;
   border-radius: 30px;
   padding: 15px;
}
.footer .family_site ul li a {
   display: block;
}
.footer .family_site ul li a:hover {
   font-weight: 700;
   text-decoration: underline;
   font-size: 17px;
   line-height: 40px;
}
.footer .family_site .open,
.footer .family_site .close {
   display: block;
   padding-right: 45px;
   width: 190px;
   height: 37px;
   background-color: #A7141E;
   border-radius: 30px;
   position: relative;
}
.footer .family_site .close {
   display: none; /*닫기버튼 숨겨놈*/
}
.footer .family_site .open::after,
.footer .family_site .close::after {
   position: absolute;
   right: 10px;
   top: 3px;
   width: 30px;
   height: 30px;
   content: "";
   background-position:  center center;
   background-repeat: no-repeat;
   background-size: contain;
}
.footer .family_site .open::after {
   background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0625 15.9374H7.8125C7.54688 15.9374 7.32422 15.8476 7.14453 15.6678C6.96484 15.488 6.875 15.2653 6.875 14.9996C6.875 14.7338 6.96484 14.5112 7.14453 14.3317C7.32422 14.1522 7.54688 14.0625 7.8125 14.0625H14.0625V7.8125C14.0625 7.54688 14.1524 7.32422 14.3321 7.14453C14.5119 6.96484 14.7346 6.875 15.0004 6.875C15.2661 6.875 15.4887 6.96484 15.6682 7.14453C15.8477 7.32422 15.9374 7.54688 15.9374 7.8125V14.0625H22.1874C22.4531 14.0625 22.6757 14.1524 22.8554 14.3321C23.0351 14.5119 23.1249 14.7346 23.1249 15.0004C23.1249 15.2661 23.0351 15.4887 22.8554 15.6682C22.6757 15.8477 22.4531 15.9374 22.1874 15.9374H15.9374V22.1874C15.9374 22.4531 15.8476 22.6757 15.6678 22.8554C15.488 23.0351 15.2653 23.1249 14.9996 23.1249C14.7338 23.1249 14.5112 23.0351 14.3317 22.8554C14.1522 22.6757 14.0625 22.4531 14.0625 22.1874V15.9374Z' fill='white'/%3E%3C/svg%3E%0A");
}
.footer .family_site .close::after {
   background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_20_437)'%3E%3Cpath d='M7.9375 15.8749C7.67188 15.8749 7.44922 15.7851 7.26953 15.6053C7.08984 15.4255 7 15.2028 7 14.9371C7 14.6713 7.08984 14.4487 7.26953 14.2692C7.44922 14.0897 7.67188 14 7.9375 14H22.3124C22.5781 14 22.8007 14.0899 22.9804 14.2696C23.1601 14.4494 23.2499 14.6721 23.2499 14.9379C23.2499 15.2036 23.1601 15.4262 22.9804 15.6057C22.8007 15.7852 22.5781 15.8749 22.3124 15.8749H7.9375Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_20_437'%3E%3Crect width='30' height='30' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
}
.footer .family_site.on .open {
   display: none; /*숨김*/
}
.footer .family_site.on .close {
   display: block; /*보임*/
} 
.footer .family_site.on ul {
   display: block; /*보임*/
}
.footer .footer_nav ul {
   display: flex;
}
.footer .footer_nav ul li {
   margin-right: 45px;
   position: relative;
}
.footer .footer_nav ul li::after {
   position: absolute;
   right: 0;
   top: 0;
   width: 1px;
   height: 10px;
   content: "";
}
.footer .footer_nav ul li:last-child{
   font-weight: 900;
}
.footer .copyright {
   margin-top: 10px;
   color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width:1024px){
   .footer .family_site {
      position: relative;
      right: auto;
      top: auto;
      display: flex;
      align-items: center;
   }
   .footer .family_site .open,
   .footer .family_site .close {
      width: 152px;
      height: 25px;

   }
}