@import url(default.css);
@import url(common.css);
@import url(layout.css);
/* 파일명 : main.css
   작성자 : ByeonRoa
   수정자 : 
   작성일 : 2021-02-28
   수정일 :
   설  명 : 메인페이지에만 들어가는 스타일을 저장
            (header, footer 빼고 전부 다)
*/

.visual h2 {
   display: none;
}
.visual .swiper {
   height:800px
} /* 팝업의 높이가 됨 */
.swiper-slide img { 
   display:block; width:100%; height:100%; object-fit:cover;
}/* 팝업 안에 이미지를 넣었다면 이미지를 꽉차게 나타나게 하기
   위해서 해당 스타일을 넣어줌 */
.visual .visual_text {
   position: absolute;
   left: calc(50% - 450px);
   top: 360px;
   color: #fff;
   font-size: 50px;
}
.visual .btn_ctrl {
   position: absolute;
   left: calc(50% - 450px);
   top: 500px;
   z-index: 10;
}
.visual .btn_ctrl .button {
   width: 40px;
   height: 40px;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}
.visual .btn_ctrl .prev {
   background: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7605 13.5001L16.3428 18.0823C16.4985 18.2381 16.5782 18.4339 16.5818 18.6697C16.5854 18.9055 16.5057 19.1049 16.3428 19.2679C16.1798 19.4309 15.9822 19.5124 15.75 19.5124C15.5178 19.5124 15.3202 19.4309 15.1572 19.2679L10.1012 14.2119C9.99592 14.1066 9.92164 13.9955 9.87839 13.8787C9.83511 13.7619 9.81348 13.6357 9.81348 13.5001C9.81348 13.3645 9.83511 13.2383 9.87839 13.1215C9.92164 13.0047 9.99592 12.8936 10.1012 12.7883L15.1572 7.73234C15.313 7.57657 15.5088 7.49688 15.7446 7.49328C15.9804 7.48966 16.1798 7.56935 16.3428 7.73234C16.5057 7.89532 16.5872 8.09291 16.5872 8.32511C16.5872 8.55731 16.5057 8.75489 16.3428 8.91787L11.7605 13.5001Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_ctrl .next {
   background: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.564 13.5L9.9818 8.91781C9.82602 8.76205 9.74633 8.56626 9.74273 8.33045C9.73911 8.09465 9.8188 7.89526 9.9818 7.73228C10.1448 7.56929 10.3424 7.48779 10.5746 7.48779C10.8068 7.48779 11.0043 7.56929 11.1673 7.73228L16.2233 12.7883C16.3286 12.8936 16.4029 13.0046 16.4462 13.1215C16.4894 13.2383 16.5111 13.3645 16.5111 13.5C16.5111 13.6356 16.4894 13.7618 16.4462 13.8786C16.4029 13.9955 16.3286 14.1065 16.2233 14.2118L11.1673 19.2678C11.0116 19.4236 10.8158 19.5033 10.58 19.5069C10.3442 19.5105 10.1448 19.4308 9.9818 19.2678C9.8188 19.1048 9.7373 18.9072 9.7373 18.675C9.7373 18.4428 9.8188 18.2453 9.9818 18.0823L14.564 13.5Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_ctrl .stop {
   background: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5937 20.8124C16.1336 20.8124 15.7373 20.6462 15.4049 20.3138C15.0725 19.9813 14.9062 19.5851 14.9062 19.125V7.87497C14.9062 7.41489 15.0725 7.01862 15.4049 6.68618C15.7373 6.35373 16.1336 6.1875 16.5937 6.1875H19.125C19.5851 6.1875 19.9813 6.35373 20.3138 6.68618C20.6462 7.01862 20.8124 7.41489 20.8124 7.87497V19.125C20.8124 19.5851 20.6462 19.9813 20.3138 20.3138C19.9813 20.6462 19.5851 20.8124 19.125 20.8124H16.5937ZM7.87497 20.8124C7.41488 20.8124 7.01862 20.6462 6.68618 20.3138C6.35373 19.9813 6.1875 19.5851 6.1875 19.125V7.87497C6.1875 7.41489 6.35373 7.01862 6.68618 6.68618C7.01862 6.35373 7.41488 6.1875 7.87497 6.1875H10.4063C10.8663 6.1875 11.2626 6.35373 11.595 6.68618C11.9275 7.01862 12.0937 7.41489 12.0937 7.87497V19.125C12.0937 19.5851 11.9275 19.9813 11.595 20.3138C11.2626 20.6462 10.8663 20.8124 10.4063 20.8124H7.87497ZM16.5937 19.125H19.125V7.87497H16.5937V19.125ZM7.87497 19.125H10.4063V7.87497H7.87497V19.125Z' fill='white'/%3E%3C/svg%3E ");
}
.visual .btn_ctrl .play {
   display: none;
   background: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5625 18.4996V8.50023C9.5625 8.20312 9.66419 7.95937 9.86757 7.76898C10.0709 7.57859 10.3082 7.4834 10.5793 7.4834C10.6659 7.4834 10.7553 7.49566 10.8476 7.52019C10.9399 7.54471 11.0293 7.58149 11.1159 7.63052L18.9865 12.641C19.1408 12.7463 19.2565 12.8725 19.3337 13.0196C19.4108 13.1667 19.4494 13.3268 19.4494 13.4999C19.4494 13.673 19.4108 13.8331 19.3337 13.9802C19.2565 14.1273 19.1408 14.2535 18.9865 14.3588L11.1159 19.3693C11.0293 19.4184 10.9399 19.4551 10.8476 19.4797C10.7553 19.5042 10.6659 19.5165 10.5793 19.5165C10.3082 19.5165 10.0709 19.4213 9.86757 19.2309C9.66419 19.0405 9.5625 18.7967 9.5625 18.4996ZM11.25 17.2687L17.1778 13.4999L11.25 9.73118V17.2687Z' fill='white'/%3E%3C/svg%3E ");
}